In [1]:
x=8
y=10

In [2]:
x

8

In [3]:
y

10

In [5]:
result=x//3*3/2+y%2**2
print(result)

5.0

In [13]:
start=input('How old were you at the time of joining?')
end=input('How old are you today?')
print('congradulation on'+str(int(end)-int(start))+'Years of survice!')

How old were you at the time of joining?23
How old are you today?33
congradulation on10Years of survice!

In [15]:
x='ACROTE'
y='APPLE'
z='TOMATO'
print(x[2]+y[1]+z[5])   ###########which won't print CAT in console

RPO

In [16]:
x='ACROTE'
y='APPLE'
z='TOMATO'
print(x[1]+y[0]+z[4]) ########## to print CAT in consol

CAT

In [17]:
x='ACROTE'
y='APPLE'
z='TOMATO'
print(x[-4]+y[-4]+z[-1])

RPO

In [18]:
x='ACROTE'
y='APPLE'
z='TOMATO'
print(x[-5]+y[-5]+z[-2])  ###### From right to left start from 0 & left to right from -1

CAT

In [20]:
x='PARTH'
y='PARTH'
result=x>y
print(result)

False

In [21]:
x='PARTH'
y='PARTH'
result=x<y
print(result)

False

In [22]:
x='PARTH'
y='PARTH'
result=x=y
print(result)  ####### This condition print the result only not the TRUE

PARTH

In [23]:
x='PARTH'
y='PARTH'
result=x is not y
print(result)

False

In [24]:
x='PARTH'
y='PARTH'
result=x is y
print(result)  ######### This condition is TRUE

True

In [25]:
x='PARTH'
y='PARTH'
result=x!=y
print(result)

False

##### consider the following code segment

In [28]:
# Code segment-1
a1='10'
b1=3
c1=a1*b1

In [30]:
# Code segment-2
a2=10
b2=3
c2=a2/b2

In [31]:
# Code segment-3
a3=2.6
b3=1
c3=a3/b3

In [32]:
c1,c2,c3  #### after executing code segments 1,2 & 3 the types of c1, c2, c3 are:

('101010', 3.3333333333333335, 2.6)

In [34]:
type(c1)

str

In [35]:
type(c2)

float

In [36]:
type(c3)

float

In [38]:
print(type(c1))
print(type(c2))
print(type(c3)) ###### OR

<class 'str'>
<class 'float'>
<class 'float'>

In [39]:
a1='10'
b1=3
c1=a1*b1
a2=10
b2=3
c2=a2/b2
a3=2.6
b3=1
c3=a3/b3
print(type(c1))
print(type(c2))
print(type(c3))

<class 'str'>
<class 'float'>
<class 'float'>

####### In which of the following case we get same result

In [49]:
a=13//4

In [48]:
b=11/3

In [47]:
c=3**1

In [46]:
d=23%5

In [50]:
print(a,b,c,d)  ### hence a,c,d give same result  and b give different

3 3.6666666666666665 3 3

In [2]:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)

False

In [3]:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1==n2)

True

In [4]:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1==n2)

False
True

In [5]:
a=1
b=3
c=5
d=7

In [7]:
result=a-b//d

In [8]:
result

1

In [9]:
result=a**d-1   ######### this is give result 0

In [10]:
result

0

In [11]:
result=a+b*2

In [12]:
result

7

In [13]:
result=a%b-1 ###### this is give result 0

In [14]:
result

0

In [56]:
s='AB CD'
my_list.('EF')
print('string after appendding value:',my_list)

TypeError: 'str' object cannot be interpreted as an integer

In [49]:
s = 'AB CD'

In [50]:
s

'AB CD'

In [68]:
s = ["AB","CD"]
my_list = ["EF"]
s.append(my_list)
print(s)

['AB', 'CD', ['EF']]

In [73]:
s = ["AB","CD"]
my_list = "EF"
s.append(my_list)
print(s)

['AB', 'CD', 'EF']

In [78]:
s = 'A''B''C''D'
s.append("EF")
print(s)

AttributeError: 'str' object has no attribute 'append'

In [84]:
a=5
b=10
c=2
d=1
x=a+b*c
y=a+b/d                         ######### value assign to d is 1 and not true----error
if(x<=y):
    print('Valid')
else:
    print('Invalid')

Invalid

In [85]:
a=5
b=10
c=2
d=1
x=a+b*c
y=a+b/d
if(x<y):
    print('Valid')
else:
    print('Invalid')

Invalid

In [86]:
a=5
b=10
c=2
d=1
x=a+b*c
y=a+b/d
if(x==y):
    print('Valid')
else:
    print('Invalid')

Invalid

In [87]:
a=5
b=10
c=2
d=1
x=a+b*c
y=a+b/d
if(x>y):
    print('Valid')
else:
    print('Invalid')

Valid

####write the python program to read the two integer values from the keyboard and print the sum

In [1]:
x=input('Enter the First Number:')
y=input('Enter the Second Number:')
##Line-1              #######which of the following code we have to write in line-1 to get sum of given number

Enter the First Number:10
Enter the Second Number:20

In [2]:
print('The Result:'+(int(x+y)))

TypeError: can only concatenate str (not "int") to str

In [3]:
print('The Result:'+str(int(x)+int(y)))   ######this is the write code

The Result:30

In [4]:
print('The Result:'+str(int(x+y)))

The Result:1020

In [5]:
print('The Result:'+(int(x)+int(y)))

TypeError: can only concatenate str (not "int") to str

########### 12 consider the following expression  ###which of the following are valid

In [8]:
a=5
b=10
c=2
d=1
result=a-b*c+d

In [9]:
a-b ##first a-b will be evaluated followed by multiplication and addition

-5

In [10]:
b*c   ##first b*c will be evaluated followed by addition and substraction

20

In [11]:
a-(b*c)+d   ###the above expression is equivalent to the -(b*c)+d

-14

In [12]:
b*c   ##first b*c will be evaluated followed by substaction and addition

20

In [13]:
result  ### hence  ###the above expression is equivalent to the -(b*c)+d
        ##first b*c will be evaluated followed by substaction and addition

-14

#########13 consider the following python   the type of weight,zip,value respectively:

In [14]:
weight=62.4
zip='80098'
value=23E4

In [16]:
type(weight)

float

In [17]:
type(zip)

str

In [18]:
type(value)

float

####14 you are writting the python program. You required the handle data types properly
consider the code statement.....identify the type of a,b,c?

In [19]:
a=10+20
b='10'+'20'
c='10'*3

In [20]:
type(a)

int

In [21]:
type(b)

str

In [24]:
type(c)

int

#### 15 which of variable represent false

In [12]:
a=bool([False])  ## for empty str, empty tuple, empty list, empty set, empty dict and range(0)
b=bool(3)        ## argument bool() function return false
c=bool("")
d=bool(' ')

In [3]:
a

True

In [4]:
b

True

In [8]:
c

False

In [13]:
d

True

### 16 consider the following expression what is the result value

In [14]:
result=(2*(3+4)**2-(3**3)*3)  ####
####Let's break down the expression step by step:

##Inside the innermost parentheses, we have the addition operation (3 + 4), which evaluates to 7.

## Next, we have (7)**2, which is the square of 7, resulting in 49.

##Moving on, we have (3**3), which is the cube of 3, resulting in 27.

## Now, we multiply 27 by 3, resulting in 81.

## We then have 2 * 49, which is 98.

## Finally, we subtract 81 from 98, giving us the final result:

In [15]:
result

17

### 17 consider the code...to make a value 9,which expression is required to place at line 1

In [47]:
a=2
a+=1

In [48]:
a

3

In [49]:
b*=2
b+=1

In [50]:
b

3

In [51]:
a*=2
a+=1

In [58]:
a

49

In [64]:
a='3'

In [65]:
3**=2
3+=1

SyntaxError: 'literal' is an illegal expression for augmented assignment (1600005813.py, line 1)

### 18 which variable represent true

In [71]:
a=bool(0)
b=bool(3)
c=bool(0.5)
d=bool(0.0)

In [67]:
a

False

In [72]:
b

True

In [69]:
c

1

In [70]:
d

True

#### 19

In [73]:
a=21
b=6
print(a/b)## always perfor floating in python

3.5

In [74]:
print(a//b) ## perform both int and flote depends on expression

3

In [75]:
print(a%b) ## give remaider

3

## 20

In [78]:
employees=["Employee1", "Employee2", ..., "Employee498", "Manager1", "Manager2", "Manager3"]

management_employees = employees[-3:]

In [79]:
employees

['Employee1',
 'Employee2',
 Ellipsis,
 'Employee498',
 'Manager1',
 'Manager2',
 'Manager3']

In [80]:
management_employees = employees[-3:]

In [81]:
management_employees

['Manager1', 'Manager2', 'Manager3']

In [82]:
management_employees = employees[-3:]
print("Management Employees:", management_employees)

Management Employees: ['Manager1', 'Manager2', 'Manager3']

In [86]:
management_employees = employees[497:]
print("Management Employees:", management_employees)

Management Employees: []

In [87]:
employees=["Employee1", "Employee2", ..., "Employee497", "Manager1", "Manager2", "Manager3"]

management_employees = employees[-3:]

In [88]:
management_employees

['Manager1', 'Manager2', 'Manager3']

In [91]:
employees=["Employee1", "Employee2", ..., "Employee497", "Manager1", "Manager2", "Manager3"]

management_employees = employees[497:]

In [92]:
management_employees

[]

In [94]:
employees=["Employee1", "Employee2", ..., "Employee497", "Manager1", "Manager2", "Manager3"]

management_employees = employees[497:500]

In [95]:
management_employees

[]

In [96]:
employees = ["Employee" + str(i) for i in range(1, 498)] + ["Manager1", "Manager2", "Manager3"]
management_employees = employees[497:]
print("Management Employees:", management_employees)

Management Employees: ['Manager1', 'Manager2', 'Manager3']

In [97]:
employees = ["Employee" + str(i) for i in range(1, 498)] + ["Manager1", "Manager2", "Manager3"]
management_employees = employees[497:500]
print("Management Employees:", management_employees)

Management Employees: ['Manager1', 'Manager2', 'Manager3']

##21

In [98]:
subjects=['java','python','sap']
more_subjects=['java','python','sap']
subjects=more_subjects

In [99]:
subjects=['java','python','sap']
more_subjects=['java','python','sap']
extra_subjects=more_subjects

In [100]:
print(extra_subjects is more_subjects)

True

In [101]:
print(subjects is more_subjects)

False

In [102]:
print(subjects is extra_subjects)

False

In [103]:
print(subjects==extra_subjects)

True

## 22

In [111]:
employees=["Employee1", "Employee2", ..., "Employee500"] ### slice operator never gives indexerror

In [112]:
employees

['Employee1', 'Employee2', Ellipsis, 'Employee500']

In [113]:
employees[0:501]

['Employee1', 'Employee2', Ellipsis, 'Employee500']

In [114]:
employees[1:1000]

['Employee2', Ellipsis, 'Employee500']

In [115]:
employees[-10:10]

['Employee1', 'Employee2', Ellipsis, 'Employee500']

## 23

In [116]:
numbers=[10,20,30,40,50]
alphabets=['a','b','c','d','e']
print(numbers is alphabets)  ## is operator is always reference comparision
print(numbers==alphabets)  ## == operator is always content comparision
numbers=alphabets
print(numbers is alphabets)
print(numbers is alphabets)

False
False
True
True

## 24 the types of age, minor, name variable comparitivly

In [117]:
age=8
minor=False
name='Parth'

In [120]:
type(age)

int

In [121]:
type(minor)

bool

In [122]:
type(name)

str

## 25 which expression generate max value

In [124]:
a=8//3*4
b=8/3*4 ## b print max value
c=8%3*4
d=8-3*4

In [125]:
a

8

In [126]:
b

10.666666666666666

In [127]:
c

8

In [128]:
d

-4

## 26 to print 2 as output which code insert at line 1

In [135]:
s='python is easy'
s1=s[6:-4]
#line1
print(len(s2))

0

In [136]:
s='python is easy'
s1=s[6:-4]
s2=s1.strip()## remove spaces present at left and right side of string
print(len(s2))

2

In [137]:
s='python is easy'
s1=s[6:-4]
s2=s1.rstrip()## remove spaces present at right side of string
print(len(s2))

3

In [138]:
s='python is easy'
s1=s[6:-4]
s2=s1.lstrip()## remove spaces present at left side of string
print(len(s2))

3

In [141]:
s='python is easy'
s1=s[6:-4]
s2=s1.lrstrip()## their is no such command present hence give error
print(len(s2))

AttributeError: 'str' object has no attribute 'lrstrip'

## 27 need to slice emplyoyees to display all emplyoyees excluding managment employee

In [142]:
employees=["Employee1", "Employee2", ..., "Employee597", "Manager1", "Manager2", "Manager3"]

In [143]:
employees

['Employee1',
 'Employee2',
 Ellipsis,
 'Employee597',
 'Manager1',
 'Manager2',
 'Manager3']

In [145]:
employees[1:-3]

['Employee2', Ellipsis, 'Employee597']

In [146]:
employees = ["Employee" + str(i) for i in range(1, 601)]
print(employees[1:-3])

['Employee2', 'Employee3', 'Employee4', 'Employee5', 'Employee6', 'Employee7', 'Employee8', 'Employee9', 'Employee10', 'Employee11', 'Employee12', 'Employee13', 'Employee14', 'Employee15', 'Employee16', 'Employee17', 'Employee18', 'Employee19', 'Employee20', 'Employee21', 'Employee22', 'Employee23', 'Employee24', 'Employee25', 'Employee26', 'Employee27', 'Employee28', 'Employee29', 'Employee30', 'Employee31', 'Employee32', 'Employee33', 'Employee34', 'Employee35', 'Employee36', 'Employee37', 'Employee38', 'Employee39', 'Employee40', 'Employee41', 'Employee42', 'Employee43', 'Employee44', 'Employee45', 'Employee46', 'Employee47', 'Employee48', 'Employee49', 'Employee50', 'Employee51', 'Employee52', 'Employee53', 'Employee54', 'Employee55', 'Employee56', 'Employee57', 'Employee58', 'Employee59', 'Employee60', 'Employee61', 'Employee62', 'Employee63', 'Employee64', 'Employee65', 'Employee66', 'Employee67', 'Employee68', 'Employee69', 'Employee70', 'Employee71', 'Employee72', 'Employee73', 'Employee74', 'Employee75', 'Employee76', 'Employee77', 'Employee78', 'Employee79', 'Employee80', 'Employee81', 'Employee82', 'Employee83', 'Employee84', 'Employee85', 'Employee86', 'Employee87', 'Employee88', 'Employee89', 'Employee90', 'Employee91', 'Employee92', 'Employee93', 'Employee94', 'Employee95', 'Employee96', 'Employee97', 'Employee98', 'Employee99', 'Employee100', 'Employee101', 'Employee102', 'Employee103', 'Employee104', 'Employee105', 'Employee106', 'Employee107', 'Employee108', 'Employee109', 'Employee110', 'Employee111', 'Employee112', 'Employee113', 'Employee114', 'Employee115', 'Employee116', 'Employee117', 'Employee118', 'Employee119', 'Employee120', 'Employee121', 'Employee122', 'Employee123', 'Employee124', 'Employee125', 'Employee126', 'Employee127', 'Employee128', 'Employee129', 'Employee130', 'Employee131', 'Employee132', 'Employee133', 'Employee134', 'Employee135', 'Employee136', 'Employee137', 'Employee138', 'Employee139', 'Employee140', 'Employee141', 'Employee142', 'Employee143', 'Employee144', 'Employee145', 'Employee146', 'Employee147', 'Employee148', 'Employee149', 'Employee150', 'Employee151', 'Employee152', 'Employee153', 'Employee154', 'Employee155', 'Employee156', 'Employee157', 'Employee158', 'Employee159', 'Employee160', 'Employee161', 'Employee162', 'Employee163', 'Employee164', 'Employee165', 'Employee166', 'Employee167', 'Employee168', 'Employee169', 'Employee170', 'Employee171', 'Employee172', 'Employee173', 'Employee174', 'Employee175', 'Employee176', 'Employee177', 'Employee178', 'Employee179', 'Employee180', 'Employee181', 'Employee182', 'Employee183', 'Employee184', 'Employee185', 'Employee186', 'Employee187', 'Employee188', 'Employee189', 'Employee190', 'Employee191', 'Employee192', 'Employee193', 'Employee194', 'Employee195', 'Employee196', 'Employee197', 'Employee198', 'Employee199', 'Employee200', 'Employee201', 'Employee202', 'Employee203', 'Employee204', 'Employee205', 'Employee206', 'Employee207', 'Employee208', 'Employee209', 'Employee210', 'Employee211', 'Employee212', 'Employee213', 'Employee214', 'Employee215', 'Employee216', 'Employee217', 'Employee218', 'Employee219', 'Employee220', 'Employee221', 'Employee222', 'Employee223', 'Employee224', 'Employee225', 'Employee226', 'Employee227', 'Employee228', 'Employee229', 'Employee230', 'Employee231', 'Employee232', 'Employee233', 'Employee234', 'Employee235', 'Employee236', 'Employee237', 'Employee238', 'Employee239', 'Employee240', 'Employee241', 'Employee242', 'Employee243', 'Employee244', 'Employee245', 'Employee246', 'Employee247', 'Employee248', 'Employee249', 'Employee250', 'Employee251', 'Employee252', 'Employee253', 'Employee254', 'Employee255', 'Employee256', 'Employee257', 'Employee258', 'Employee259', 'Employee260', 'Employee261', 'Employee262', 'Employee263', 'Employee264', 'Employee265', 'Employee266', 'Employee267', 'Employee268', 'Employee269', 'Employee270', 'Employee271', 'Employee272', 'Employee273', 'Employee274', 'Employee275', 'Employee276', 'Employee277', 'Employee278', 'Employee279', 'Employee280', 'Employee281', 'Employee282', 'Employee283', 'Employee284', 'Employee285', 'Employee286', 'Employee287', 'Employee288', 'Employee289', 'Employee290', 'Employee291', 'Employee292', 'Employee293', 'Employee294', 'Employee295', 'Employee296', 'Employee297', 'Employee298', 'Employee299', 'Employee300', 'Employee301', 'Employee302', 'Employee303', 'Employee304', 'Employee305', 'Employee306', 'Employee307', 'Employee308', 'Employee309', 'Employee310', 'Employee311', 'Employee312', 'Employee313', 'Employee314', 'Employee315', 'Employee316', 'Employee317', 'Employee318', 'Employee319', 'Employee320', 'Employee321', 'Employee322', 'Employee323', 'Employee324', 'Employee325', 'Employee326', 'Employee327', 'Employee328', 'Employee329', 'Employee330', 'Employee331', 'Employee332', 'Employee333', 'Employee334', 'Employee335', 'Employee336', 'Employee337', 'Employee338', 'Employee339', 'Employee340', 'Employee341', 'Employee342', 'Employee343', 'Employee344', 'Employee345', 'Employee346', 'Employee347', 'Employee348', 'Employee349', 'Employee350', 'Employee351', 'Employee352', 'Employee353', 'Employee354', 'Employee355', 'Employee356', 'Employee357', 'Employee358', 'Employee359', 'Employee360', 'Employee361', 'Employee362', 'Employee363', 'Employee364', 'Employee365', 'Employee366', 'Employee367', 'Employee368', 'Employee369', 'Employee370', 'Employee371', 'Employee372', 'Employee373', 'Employee374', 'Employee375', 'Employee376', 'Employee377', 'Employee378', 'Employee379', 'Employee380', 'Employee381', 'Employee382', 'Employee383', 'Employee384', 'Employee385', 'Employee386', 'Employee387', 'Employee388', 'Employee389', 'Employee390', 'Employee391', 'Employee392', 'Employee393', 'Employee394', 'Employee395', 'Employee396', 'Employee397', 'Employee398', 'Employee399', 'Employee400', 'Employee401', 'Employee402', 'Employee403', 'Employee404', 'Employee405', 'Employee406', 'Employee407', 'Employee408', 'Employee409', 'Employee410', 'Employee411', 'Employee412', 'Employee413', 'Employee414', 'Employee415', 'Employee416', 'Employee417', 'Employee418', 'Employee419', 'Employee420', 'Employee421', 'Employee422', 'Employee423', 'Employee424', 'Employee425', 'Employee426', 'Employee427', 'Employee428', 'Employee429', 'Employee430', 'Employee431', 'Employee432', 'Employee433', 'Employee434', 'Employee435', 'Employee436', 'Employee437', 'Employee438', 'Employee439', 'Employee440', 'Employee441', 'Employee442', 'Employee443', 'Employee444', 'Employee445', 'Employee446', 'Employee447', 'Employee448', 'Employee449', 'Employee450', 'Employee451', 'Employee452', 'Employee453', 'Employee454', 'Employee455', 'Employee456', 'Employee457', 'Employee458', 'Employee459', 'Employee460', 'Employee461', 'Employee462', 'Employee463', 'Employee464', 'Employee465', 'Employee466', 'Employee467', 'Employee468', 'Employee469', 'Employee470', 'Employee471', 'Employee472', 'Employee473', 'Employee474', 'Employee475', 'Employee476', 'Employee477', 'Employee478', 'Employee479', 'Employee480', 'Employee481', 'Employee482', 'Employee483', 'Employee484', 'Employee485', 'Employee486', 'Employee487', 'Employee488', 'Employee489', 'Employee490', 'Employee491', 'Employee492', 'Employee493', 'Employee494', 'Employee495', 'Employee496', 'Employee497', 'Employee498', 'Employee499', 'Employee500', 'Employee501', 'Employee502', 'Employee503', 'Employee504', 'Employee505', 'Employee506', 'Employee507', 'Employee508', 'Employee509', 'Employee510', 'Employee511', 'Employee512', 'Employee513', 'Employee514', 'Employee515', 'Employee516', 'Employee517', 'Employee518', 'Employee519', 'Employee520', 'Employee521', 'Employee522', 'Employee523', 'Employee524', 'Employee525', 'Employee526', 'Employee527', 'Employee528', 'Employee529', 'Employee530', 'Employee531', 'Employee532', 'Employee533', 'Employee534', 'Employee535', 'Employee536', 'Employee537', 'Employee538', 'Employee539', 'Employee540', 'Employee541', 'Employee542', 'Employee543', 'Employee544', 'Employee545', 'Employee546', 'Employee547', 'Employee548', 'Employee549', 'Employee550', 'Employee551', 'Employee552', 'Employee553', 'Employee554', 'Employee555', 'Employee556', 'Employee557', 'Employee558', 'Employee559', 'Employee560', 'Employee561', 'Employee562', 'Employee563', 'Employee564', 'Employee565', 'Employee566', 'Employee567', 'Employee568', 'Employee569', 'Employee570', 'Employee571', 'Employee572', 'Employee573', 'Employee574', 'Employee575', 'Employee576', 'Employee577', 'Employee578', 'Employee579', 'Employee580', 'Employee581', 'Employee582', 'Employee583', 'Employee584', 'Employee585', 'Employee586', 'Employee587', 'Employee588', 'Employee589', 'Employee590', 'Employee591', 'Employee592', 'Employee593', 'Employee594', 'Employee595', 'Employee596', 'Employee597']

In [147]:
employees = ["Employee" + str(i) for i in range(1, 601)]
print(employees[:-3])

['Employee1', 'Employee2', 'Employee3', 'Employee4', 'Employee5', 'Employee6', 'Employee7', 'Employee8', 'Employee9', 'Employee10', 'Employee11', 'Employee12', 'Employee13', 'Employee14', 'Employee15', 'Employee16', 'Employee17', 'Employee18', 'Employee19', 'Employee20', 'Employee21', 'Employee22', 'Employee23', 'Employee24', 'Employee25', 'Employee26', 'Employee27', 'Employee28', 'Employee29', 'Employee30', 'Employee31', 'Employee32', 'Employee33', 'Employee34', 'Employee35', 'Employee36', 'Employee37', 'Employee38', 'Employee39', 'Employee40', 'Employee41', 'Employee42', 'Employee43', 'Employee44', 'Employee45', 'Employee46', 'Employee47', 'Employee48', 'Employee49', 'Employee50', 'Employee51', 'Employee52', 'Employee53', 'Employee54', 'Employee55', 'Employee56', 'Employee57', 'Employee58', 'Employee59', 'Employee60', 'Employee61', 'Employee62', 'Employee63', 'Employee64', 'Employee65', 'Employee66', 'Employee67', 'Employee68', 'Employee69', 'Employee70', 'Employee71', 'Employee72', 'Employee73', 'Employee74', 'Employee75', 'Employee76', 'Employee77', 'Employee78', 'Employee79', 'Employee80', 'Employee81', 'Employee82', 'Employee83', 'Employee84', 'Employee85', 'Employee86', 'Employee87', 'Employee88', 'Employee89', 'Employee90', 'Employee91', 'Employee92', 'Employee93', 'Employee94', 'Employee95', 'Employee96', 'Employee97', 'Employee98', 'Employee99', 'Employee100', 'Employee101', 'Employee102', 'Employee103', 'Employee104', 'Employee105', 'Employee106', 'Employee107', 'Employee108', 'Employee109', 'Employee110', 'Employee111', 'Employee112', 'Employee113', 'Employee114', 'Employee115', 'Employee116', 'Employee117', 'Employee118', 'Employee119', 'Employee120', 'Employee121', 'Employee122', 'Employee123', 'Employee124', 'Employee125', 'Employee126', 'Employee127', 'Employee128', 'Employee129', 'Employee130', 'Employee131', 'Employee132', 'Employee133', 'Employee134', 'Employee135', 'Employee136', 'Employee137', 'Employee138', 'Employee139', 'Employee140', 'Employee141', 'Employee142', 'Employee143', 'Employee144', 'Employee145', 'Employee146', 'Employee147', 'Employee148', 'Employee149', 'Employee150', 'Employee151', 'Employee152', 'Employee153', 'Employee154', 'Employee155', 'Employee156', 'Employee157', 'Employee158', 'Employee159', 'Employee160', 'Employee161', 'Employee162', 'Employee163', 'Employee164', 'Employee165', 'Employee166', 'Employee167', 'Employee168', 'Employee169', 'Employee170', 'Employee171', 'Employee172', 'Employee173', 'Employee174', 'Employee175', 'Employee176', 'Employee177', 'Employee178', 'Employee179', 'Employee180', 'Employee181', 'Employee182', 'Employee183', 'Employee184', 'Employee185', 'Employee186', 'Employee187', 'Employee188', 'Employee189', 'Employee190', 'Employee191', 'Employee192', 'Employee193', 'Employee194', 'Employee195', 'Employee196', 'Employee197', 'Employee198', 'Employee199', 'Employee200', 'Employee201', 'Employee202', 'Employee203', 'Employee204', 'Employee205', 'Employee206', 'Employee207', 'Employee208', 'Employee209', 'Employee210', 'Employee211', 'Employee212', 'Employee213', 'Employee214', 'Employee215', 'Employee216', 'Employee217', 'Employee218', 'Employee219', 'Employee220', 'Employee221', 'Employee222', 'Employee223', 'Employee224', 'Employee225', 'Employee226', 'Employee227', 'Employee228', 'Employee229', 'Employee230', 'Employee231', 'Employee232', 'Employee233', 'Employee234', 'Employee235', 'Employee236', 'Employee237', 'Employee238', 'Employee239', 'Employee240', 'Employee241', 'Employee242', 'Employee243', 'Employee244', 'Employee245', 'Employee246', 'Employee247', 'Employee248', 'Employee249', 'Employee250', 'Employee251', 'Employee252', 'Employee253', 'Employee254', 'Employee255', 'Employee256', 'Employee257', 'Employee258', 'Employee259', 'Employee260', 'Employee261', 'Employee262', 'Employee263', 'Employee264', 'Employee265', 'Employee266', 'Employee267', 'Employee268', 'Employee269', 'Employee270', 'Employee271', 'Employee272', 'Employee273', 'Employee274', 'Employee275', 'Employee276', 'Employee277', 'Employee278', 'Employee279', 'Employee280', 'Employee281', 'Employee282', 'Employee283', 'Employee284', 'Employee285', 'Employee286', 'Employee287', 'Employee288', 'Employee289', 'Employee290', 'Employee291', 'Employee292', 'Employee293', 'Employee294', 'Employee295', 'Employee296', 'Employee297', 'Employee298', 'Employee299', 'Employee300', 'Employee301', 'Employee302', 'Employee303', 'Employee304', 'Employee305', 'Employee306', 'Employee307', 'Employee308', 'Employee309', 'Employee310', 'Employee311', 'Employee312', 'Employee313', 'Employee314', 'Employee315', 'Employee316', 'Employee317', 'Employee318', 'Employee319', 'Employee320', 'Employee321', 'Employee322', 'Employee323', 'Employee324', 'Employee325', 'Employee326', 'Employee327', 'Employee328', 'Employee329', 'Employee330', 'Employee331', 'Employee332', 'Employee333', 'Employee334', 'Employee335', 'Employee336', 'Employee337', 'Employee338', 'Employee339', 'Employee340', 'Employee341', 'Employee342', 'Employee343', 'Employee344', 'Employee345', 'Employee346', 'Employee347', 'Employee348', 'Employee349', 'Employee350', 'Employee351', 'Employee352', 'Employee353', 'Employee354', 'Employee355', 'Employee356', 'Employee357', 'Employee358', 'Employee359', 'Employee360', 'Employee361', 'Employee362', 'Employee363', 'Employee364', 'Employee365', 'Employee366', 'Employee367', 'Employee368', 'Employee369', 'Employee370', 'Employee371', 'Employee372', 'Employee373', 'Employee374', 'Employee375', 'Employee376', 'Employee377', 'Employee378', 'Employee379', 'Employee380', 'Employee381', 'Employee382', 'Employee383', 'Employee384', 'Employee385', 'Employee386', 'Employee387', 'Employee388', 'Employee389', 'Employee390', 'Employee391', 'Employee392', 'Employee393', 'Employee394', 'Employee395', 'Employee396', 'Employee397', 'Employee398', 'Employee399', 'Employee400', 'Employee401', 'Employee402', 'Employee403', 'Employee404', 'Employee405', 'Employee406', 'Employee407', 'Employee408', 'Employee409', 'Employee410', 'Employee411', 'Employee412', 'Employee413', 'Employee414', 'Employee415', 'Employee416', 'Employee417', 'Employee418', 'Employee419', 'Employee420', 'Employee421', 'Employee422', 'Employee423', 'Employee424', 'Employee425', 'Employee426', 'Employee427', 'Employee428', 'Employee429', 'Employee430', 'Employee431', 'Employee432', 'Employee433', 'Employee434', 'Employee435', 'Employee436', 'Employee437', 'Employee438', 'Employee439', 'Employee440', 'Employee441', 'Employee442', 'Employee443', 'Employee444', 'Employee445', 'Employee446', 'Employee447', 'Employee448', 'Employee449', 'Employee450', 'Employee451', 'Employee452', 'Employee453', 'Employee454', 'Employee455', 'Employee456', 'Employee457', 'Employee458', 'Employee459', 'Employee460', 'Employee461', 'Employee462', 'Employee463', 'Employee464', 'Employee465', 'Employee466', 'Employee467', 'Employee468', 'Employee469', 'Employee470', 'Employee471', 'Employee472', 'Employee473', 'Employee474', 'Employee475', 'Employee476', 'Employee477', 'Employee478', 'Employee479', 'Employee480', 'Employee481', 'Employee482', 'Employee483', 'Employee484', 'Employee485', 'Employee486', 'Employee487', 'Employee488', 'Employee489', 'Employee490', 'Employee491', 'Employee492', 'Employee493', 'Employee494', 'Employee495', 'Employee496', 'Employee497', 'Employee498', 'Employee499', 'Employee500', 'Employee501', 'Employee502', 'Employee503', 'Employee504', 'Employee505', 'Employee506', 'Employee507', 'Employee508', 'Employee509', 'Employee510', 'Employee511', 'Employee512', 'Employee513', 'Employee514', 'Employee515', 'Employee516', 'Employee517', 'Employee518', 'Employee519', 'Employee520', 'Employee521', 'Employee522', 'Employee523', 'Employee524', 'Employee525', 'Employee526', 'Employee527', 'Employee528', 'Employee529', 'Employee530', 'Employee531', 'Employee532', 'Employee533', 'Employee534', 'Employee535', 'Employee536', 'Employee537', 'Employee538', 'Employee539', 'Employee540', 'Employee541', 'Employee542', 'Employee543', 'Employee544', 'Employee545', 'Employee546', 'Employee547', 'Employee548', 'Employee549', 'Employee550', 'Employee551', 'Employee552', 'Employee553', 'Employee554', 'Employee555', 'Employee556', 'Employee557', 'Employee558', 'Employee559', 'Employee560', 'Employee561', 'Employee562', 'Employee563', 'Employee564', 'Employee565', 'Employee566', 'Employee567', 'Employee568', 'Employee569', 'Employee570', 'Employee571', 'Employee572', 'Employee573', 'Employee574', 'Employee575', 'Employee576', 'Employee577', 'Employee578', 'Employee579', 'Employee580', 'Employee581', 'Employee582', 'Employee583', 'Employee584', 'Employee585', 'Employee586', 'Employee587', 'Employee588', 'Employee589', 'Employee590', 'Employee591', 'Employee592', 'Employee593', 'Employee594', 'Employee595', 'Employee596', 'Employee597']

In [154]:
employees = ["Employee" + str(i) for i in range(1, 598)] + ["Manager1", "Manager2", "Manager3"]
print(employees[:-3])

['Employee1', 'Employee2', 'Employee3', 'Employee4', 'Employee5', 'Employee6', 'Employee7', 'Employee8', 'Employee9', 'Employee10', 'Employee11', 'Employee12', 'Employee13', 'Employee14', 'Employee15', 'Employee16', 'Employee17', 'Employee18', 'Employee19', 'Employee20', 'Employee21', 'Employee22', 'Employee23', 'Employee24', 'Employee25', 'Employee26', 'Employee27', 'Employee28', 'Employee29', 'Employee30', 'Employee31', 'Employee32', 'Employee33', 'Employee34', 'Employee35', 'Employee36', 'Employee37', 'Employee38', 'Employee39', 'Employee40', 'Employee41', 'Employee42', 'Employee43', 'Employee44', 'Employee45', 'Employee46', 'Employee47', 'Employee48', 'Employee49', 'Employee50', 'Employee51', 'Employee52', 'Employee53', 'Employee54', 'Employee55', 'Employee56', 'Employee57', 'Employee58', 'Employee59', 'Employee60', 'Employee61', 'Employee62', 'Employee63', 'Employee64', 'Employee65', 'Employee66', 'Employee67', 'Employee68', 'Employee69', 'Employee70', 'Employee71', 'Employee72', 'Employee73', 'Employee74', 'Employee75', 'Employee76', 'Employee77', 'Employee78', 'Employee79', 'Employee80', 'Employee81', 'Employee82', 'Employee83', 'Employee84', 'Employee85', 'Employee86', 'Employee87', 'Employee88', 'Employee89', 'Employee90', 'Employee91', 'Employee92', 'Employee93', 'Employee94', 'Employee95', 'Employee96', 'Employee97', 'Employee98', 'Employee99', 'Employee100', 'Employee101', 'Employee102', 'Employee103', 'Employee104', 'Employee105', 'Employee106', 'Employee107', 'Employee108', 'Employee109', 'Employee110', 'Employee111', 'Employee112', 'Employee113', 'Employee114', 'Employee115', 'Employee116', 'Employee117', 'Employee118', 'Employee119', 'Employee120', 'Employee121', 'Employee122', 'Employee123', 'Employee124', 'Employee125', 'Employee126', 'Employee127', 'Employee128', 'Employee129', 'Employee130', 'Employee131', 'Employee132', 'Employee133', 'Employee134', 'Employee135', 'Employee136', 'Employee137', 'Employee138', 'Employee139', 'Employee140', 'Employee141', 'Employee142', 'Employee143', 'Employee144', 'Employee145', 'Employee146', 'Employee147', 'Employee148', 'Employee149', 'Employee150', 'Employee151', 'Employee152', 'Employee153', 'Employee154', 'Employee155', 'Employee156', 'Employee157', 'Employee158', 'Employee159', 'Employee160', 'Employee161', 'Employee162', 'Employee163', 'Employee164', 'Employee165', 'Employee166', 'Employee167', 'Employee168', 'Employee169', 'Employee170', 'Employee171', 'Employee172', 'Employee173', 'Employee174', 'Employee175', 'Employee176', 'Employee177', 'Employee178', 'Employee179', 'Employee180', 'Employee181', 'Employee182', 'Employee183', 'Employee184', 'Employee185', 'Employee186', 'Employee187', 'Employee188', 'Employee189', 'Employee190', 'Employee191', 'Employee192', 'Employee193', 'Employee194', 'Employee195', 'Employee196', 'Employee197', 'Employee198', 'Employee199', 'Employee200', 'Employee201', 'Employee202', 'Employee203', 'Employee204', 'Employee205', 'Employee206', 'Employee207', 'Employee208', 'Employee209', 'Employee210', 'Employee211', 'Employee212', 'Employee213', 'Employee214', 'Employee215', 'Employee216', 'Employee217', 'Employee218', 'Employee219', 'Employee220', 'Employee221', 'Employee222', 'Employee223', 'Employee224', 'Employee225', 'Employee226', 'Employee227', 'Employee228', 'Employee229', 'Employee230', 'Employee231', 'Employee232', 'Employee233', 'Employee234', 'Employee235', 'Employee236', 'Employee237', 'Employee238', 'Employee239', 'Employee240', 'Employee241', 'Employee242', 'Employee243', 'Employee244', 'Employee245', 'Employee246', 'Employee247', 'Employee248', 'Employee249', 'Employee250', 'Employee251', 'Employee252', 'Employee253', 'Employee254', 'Employee255', 'Employee256', 'Employee257', 'Employee258', 'Employee259', 'Employee260', 'Employee261', 'Employee262', 'Employee263', 'Employee264', 'Employee265', 'Employee266', 'Employee267', 'Employee268', 'Employee269', 'Employee270', 'Employee271', 'Employee272', 'Employee273', 'Employee274', 'Employee275', 'Employee276', 'Employee277', 'Employee278', 'Employee279', 'Employee280', 'Employee281', 'Employee282', 'Employee283', 'Employee284', 'Employee285', 'Employee286', 'Employee287', 'Employee288', 'Employee289', 'Employee290', 'Employee291', 'Employee292', 'Employee293', 'Employee294', 'Employee295', 'Employee296', 'Employee297', 'Employee298', 'Employee299', 'Employee300', 'Employee301', 'Employee302', 'Employee303', 'Employee304', 'Employee305', 'Employee306', 'Employee307', 'Employee308', 'Employee309', 'Employee310', 'Employee311', 'Employee312', 'Employee313', 'Employee314', 'Employee315', 'Employee316', 'Employee317', 'Employee318', 'Employee319', 'Employee320', 'Employee321', 'Employee322', 'Employee323', 'Employee324', 'Employee325', 'Employee326', 'Employee327', 'Employee328', 'Employee329', 'Employee330', 'Employee331', 'Employee332', 'Employee333', 'Employee334', 'Employee335', 'Employee336', 'Employee337', 'Employee338', 'Employee339', 'Employee340', 'Employee341', 'Employee342', 'Employee343', 'Employee344', 'Employee345', 'Employee346', 'Employee347', 'Employee348', 'Employee349', 'Employee350', 'Employee351', 'Employee352', 'Employee353', 'Employee354', 'Employee355', 'Employee356', 'Employee357', 'Employee358', 'Employee359', 'Employee360', 'Employee361', 'Employee362', 'Employee363', 'Employee364', 'Employee365', 'Employee366', 'Employee367', 'Employee368', 'Employee369', 'Employee370', 'Employee371', 'Employee372', 'Employee373', 'Employee374', 'Employee375', 'Employee376', 'Employee377', 'Employee378', 'Employee379', 'Employee380', 'Employee381', 'Employee382', 'Employee383', 'Employee384', 'Employee385', 'Employee386', 'Employee387', 'Employee388', 'Employee389', 'Employee390', 'Employee391', 'Employee392', 'Employee393', 'Employee394', 'Employee395', 'Employee396', 'Employee397', 'Employee398', 'Employee399', 'Employee400', 'Employee401', 'Employee402', 'Employee403', 'Employee404', 'Employee405', 'Employee406', 'Employee407', 'Employee408', 'Employee409', 'Employee410', 'Employee411', 'Employee412', 'Employee413', 'Employee414', 'Employee415', 'Employee416', 'Employee417', 'Employee418', 'Employee419', 'Employee420', 'Employee421', 'Employee422', 'Employee423', 'Employee424', 'Employee425', 'Employee426', 'Employee427', 'Employee428', 'Employee429', 'Employee430', 'Employee431', 'Employee432', 'Employee433', 'Employee434', 'Employee435', 'Employee436', 'Employee437', 'Employee438', 'Employee439', 'Employee440', 'Employee441', 'Employee442', 'Employee443', 'Employee444', 'Employee445', 'Employee446', 'Employee447', 'Employee448', 'Employee449', 'Employee450', 'Employee451', 'Employee452', 'Employee453', 'Employee454', 'Employee455', 'Employee456', 'Employee457', 'Employee458', 'Employee459', 'Employee460', 'Employee461', 'Employee462', 'Employee463', 'Employee464', 'Employee465', 'Employee466', 'Employee467', 'Employee468', 'Employee469', 'Employee470', 'Employee471', 'Employee472', 'Employee473', 'Employee474', 'Employee475', 'Employee476', 'Employee477', 'Employee478', 'Employee479', 'Employee480', 'Employee481', 'Employee482', 'Employee483', 'Employee484', 'Employee485', 'Employee486', 'Employee487', 'Employee488', 'Employee489', 'Employee490', 'Employee491', 'Employee492', 'Employee493', 'Employee494', 'Employee495', 'Employee496', 'Employee497', 'Employee498', 'Employee499', 'Employee500', 'Employee501', 'Employee502', 'Employee503', 'Employee504', 'Employee505', 'Employee506', 'Employee507', 'Employee508', 'Employee509', 'Employee510', 'Employee511', 'Employee512', 'Employee513', 'Employee514', 'Employee515', 'Employee516', 'Employee517', 'Employee518', 'Employee519', 'Employee520', 'Employee521', 'Employee522', 'Employee523', 'Employee524', 'Employee525', 'Employee526', 'Employee527', 'Employee528', 'Employee529', 'Employee530', 'Employee531', 'Employee532', 'Employee533', 'Employee534', 'Employee535', 'Employee536', 'Employee537', 'Employee538', 'Employee539', 'Employee540', 'Employee541', 'Employee542', 'Employee543', 'Employee544', 'Employee545', 'Employee546', 'Employee547', 'Employee548', 'Employee549', 'Employee550', 'Employee551', 'Employee552', 'Employee553', 'Employee554', 'Employee555', 'Employee556', 'Employee557', 'Employee558', 'Employee559', 'Employee560', 'Employee561', 'Employee562', 'Employee563', 'Employee564', 'Employee565', 'Employee566', 'Employee567', 'Employee568', 'Employee569', 'Employee570', 'Employee571', 'Employee572', 'Employee573', 'Employee574', 'Employee575', 'Employee576', 'Employee577', 'Employee578', 'Employee579', 'Employee580', 'Employee581', 'Employee582', 'Employee583', 'Employee584', 'Employee585', 'Employee586', 'Employee587', 'Employee588', 'Employee589', 'Employee590', 'Employee591', 'Employee592', 'Employee593', 'Employee594', 'Employee595', 'Employee596', 'Employee597']

In [149]:
employees = ["Employee" + str(i) for i in range(1, 598)] + ["Manager1", "Manager2", "Manager3"]
print(employees[1:-2])

['Employee2', 'Employee3', 'Employee4', 'Employee5', 'Employee6', 'Employee7', 'Employee8', 'Employee9', 'Employee10', 'Employee11', 'Employee12', 'Employee13', 'Employee14', 'Employee15', 'Employee16', 'Employee17', 'Employee18', 'Employee19', 'Employee20', 'Employee21', 'Employee22', 'Employee23', 'Employee24', 'Employee25', 'Employee26', 'Employee27', 'Employee28', 'Employee29', 'Employee30', 'Employee31', 'Employee32', 'Employee33', 'Employee34', 'Employee35', 'Employee36', 'Employee37', 'Employee38', 'Employee39', 'Employee40', 'Employee41', 'Employee42', 'Employee43', 'Employee44', 'Employee45', 'Employee46', 'Employee47', 'Employee48', 'Employee49', 'Employee50', 'Employee51', 'Employee52', 'Employee53', 'Employee54', 'Employee55', 'Employee56', 'Employee57', 'Employee58', 'Employee59', 'Employee60', 'Employee61', 'Employee62', 'Employee63', 'Employee64', 'Employee65', 'Employee66', 'Employee67', 'Employee68', 'Employee69', 'Employee70', 'Employee71', 'Employee72', 'Employee73', 'Employee74', 'Employee75', 'Employee76', 'Employee77', 'Employee78', 'Employee79', 'Employee80', 'Employee81', 'Employee82', 'Employee83', 'Employee84', 'Employee85', 'Employee86', 'Employee87', 'Employee88', 'Employee89', 'Employee90', 'Employee91', 'Employee92', 'Employee93', 'Employee94', 'Employee95', 'Employee96', 'Employee97', 'Employee98', 'Employee99', 'Employee100', 'Employee101', 'Employee102', 'Employee103', 'Employee104', 'Employee105', 'Employee106', 'Employee107', 'Employee108', 'Employee109', 'Employee110', 'Employee111', 'Employee112', 'Employee113', 'Employee114', 'Employee115', 'Employee116', 'Employee117', 'Employee118', 'Employee119', 'Employee120', 'Employee121', 'Employee122', 'Employee123', 'Employee124', 'Employee125', 'Employee126', 'Employee127', 'Employee128', 'Employee129', 'Employee130', 'Employee131', 'Employee132', 'Employee133', 'Employee134', 'Employee135', 'Employee136', 'Employee137', 'Employee138', 'Employee139', 'Employee140', 'Employee141', 'Employee142', 'Employee143', 'Employee144', 'Employee145', 'Employee146', 'Employee147', 'Employee148', 'Employee149', 'Employee150', 'Employee151', 'Employee152', 'Employee153', 'Employee154', 'Employee155', 'Employee156', 'Employee157', 'Employee158', 'Employee159', 'Employee160', 'Employee161', 'Employee162', 'Employee163', 'Employee164', 'Employee165', 'Employee166', 'Employee167', 'Employee168', 'Employee169', 'Employee170', 'Employee171', 'Employee172', 'Employee173', 'Employee174', 'Employee175', 'Employee176', 'Employee177', 'Employee178', 'Employee179', 'Employee180', 'Employee181', 'Employee182', 'Employee183', 'Employee184', 'Employee185', 'Employee186', 'Employee187', 'Employee188', 'Employee189', 'Employee190', 'Employee191', 'Employee192', 'Employee193', 'Employee194', 'Employee195', 'Employee196', 'Employee197', 'Employee198', 'Employee199', 'Employee200', 'Employee201', 'Employee202', 'Employee203', 'Employee204', 'Employee205', 'Employee206', 'Employee207', 'Employee208', 'Employee209', 'Employee210', 'Employee211', 'Employee212', 'Employee213', 'Employee214', 'Employee215', 'Employee216', 'Employee217', 'Employee218', 'Employee219', 'Employee220', 'Employee221', 'Employee222', 'Employee223', 'Employee224', 'Employee225', 'Employee226', 'Employee227', 'Employee228', 'Employee229', 'Employee230', 'Employee231', 'Employee232', 'Employee233', 'Employee234', 'Employee235', 'Employee236', 'Employee237', 'Employee238', 'Employee239', 'Employee240', 'Employee241', 'Employee242', 'Employee243', 'Employee244', 'Employee245', 'Employee246', 'Employee247', 'Employee248', 'Employee249', 'Employee250', 'Employee251', 'Employee252', 'Employee253', 'Employee254', 'Employee255', 'Employee256', 'Employee257', 'Employee258', 'Employee259', 'Employee260', 'Employee261', 'Employee262', 'Employee263', 'Employee264', 'Employee265', 'Employee266', 'Employee267', 'Employee268', 'Employee269', 'Employee270', 'Employee271', 'Employee272', 'Employee273', 'Employee274', 'Employee275', 'Employee276', 'Employee277', 'Employee278', 'Employee279', 'Employee280', 'Employee281', 'Employee282', 'Employee283', 'Employee284', 'Employee285', 'Employee286', 'Employee287', 'Employee288', 'Employee289', 'Employee290', 'Employee291', 'Employee292', 'Employee293', 'Employee294', 'Employee295', 'Employee296', 'Employee297', 'Employee298', 'Employee299', 'Employee300', 'Employee301', 'Employee302', 'Employee303', 'Employee304', 'Employee305', 'Employee306', 'Employee307', 'Employee308', 'Employee309', 'Employee310', 'Employee311', 'Employee312', 'Employee313', 'Employee314', 'Employee315', 'Employee316', 'Employee317', 'Employee318', 'Employee319', 'Employee320', 'Employee321', 'Employee322', 'Employee323', 'Employee324', 'Employee325', 'Employee326', 'Employee327', 'Employee328', 'Employee329', 'Employee330', 'Employee331', 'Employee332', 'Employee333', 'Employee334', 'Employee335', 'Employee336', 'Employee337', 'Employee338', 'Employee339', 'Employee340', 'Employee341', 'Employee342', 'Employee343', 'Employee344', 'Employee345', 'Employee346', 'Employee347', 'Employee348', 'Employee349', 'Employee350', 'Employee351', 'Employee352', 'Employee353', 'Employee354', 'Employee355', 'Employee356', 'Employee357', 'Employee358', 'Employee359', 'Employee360', 'Employee361', 'Employee362', 'Employee363', 'Employee364', 'Employee365', 'Employee366', 'Employee367', 'Employee368', 'Employee369', 'Employee370', 'Employee371', 'Employee372', 'Employee373', 'Employee374', 'Employee375', 'Employee376', 'Employee377', 'Employee378', 'Employee379', 'Employee380', 'Employee381', 'Employee382', 'Employee383', 'Employee384', 'Employee385', 'Employee386', 'Employee387', 'Employee388', 'Employee389', 'Employee390', 'Employee391', 'Employee392', 'Employee393', 'Employee394', 'Employee395', 'Employee396', 'Employee397', 'Employee398', 'Employee399', 'Employee400', 'Employee401', 'Employee402', 'Employee403', 'Employee404', 'Employee405', 'Employee406', 'Employee407', 'Employee408', 'Employee409', 'Employee410', 'Employee411', 'Employee412', 'Employee413', 'Employee414', 'Employee415', 'Employee416', 'Employee417', 'Employee418', 'Employee419', 'Employee420', 'Employee421', 'Employee422', 'Employee423', 'Employee424', 'Employee425', 'Employee426', 'Employee427', 'Employee428', 'Employee429', 'Employee430', 'Employee431', 'Employee432', 'Employee433', 'Employee434', 'Employee435', 'Employee436', 'Employee437', 'Employee438', 'Employee439', 'Employee440', 'Employee441', 'Employee442', 'Employee443', 'Employee444', 'Employee445', 'Employee446', 'Employee447', 'Employee448', 'Employee449', 'Employee450', 'Employee451', 'Employee452', 'Employee453', 'Employee454', 'Employee455', 'Employee456', 'Employee457', 'Employee458', 'Employee459', 'Employee460', 'Employee461', 'Employee462', 'Employee463', 'Employee464', 'Employee465', 'Employee466', 'Employee467', 'Employee468', 'Employee469', 'Employee470', 'Employee471', 'Employee472', 'Employee473', 'Employee474', 'Employee475', 'Employee476', 'Employee477', 'Employee478', 'Employee479', 'Employee480', 'Employee481', 'Employee482', 'Employee483', 'Employee484', 'Employee485', 'Employee486', 'Employee487', 'Employee488', 'Employee489', 'Employee490', 'Employee491', 'Employee492', 'Employee493', 'Employee494', 'Employee495', 'Employee496', 'Employee497', 'Employee498', 'Employee499', 'Employee500', 'Employee501', 'Employee502', 'Employee503', 'Employee504', 'Employee505', 'Employee506', 'Employee507', 'Employee508', 'Employee509', 'Employee510', 'Employee511', 'Employee512', 'Employee513', 'Employee514', 'Employee515', 'Employee516', 'Employee517', 'Employee518', 'Employee519', 'Employee520', 'Employee521', 'Employee522', 'Employee523', 'Employee524', 'Employee525', 'Employee526', 'Employee527', 'Employee528', 'Employee529', 'Employee530', 'Employee531', 'Employee532', 'Employee533', 'Employee534', 'Employee535', 'Employee536', 'Employee537', 'Employee538', 'Employee539', 'Employee540', 'Employee541', 'Employee542', 'Employee543', 'Employee544', 'Employee545', 'Employee546', 'Employee547', 'Employee548', 'Employee549', 'Employee550', 'Employee551', 'Employee552', 'Employee553', 'Employee554', 'Employee555', 'Employee556', 'Employee557', 'Employee558', 'Employee559', 'Employee560', 'Employee561', 'Employee562', 'Employee563', 'Employee564', 'Employee565', 'Employee566', 'Employee567', 'Employee568', 'Employee569', 'Employee570', 'Employee571', 'Employee572', 'Employee573', 'Employee574', 'Employee575', 'Employee576', 'Employee577', 'Employee578', 'Employee579', 'Employee580', 'Employee581', 'Employee582', 'Employee583', 'Employee584', 'Employee585', 'Employee586', 'Employee587', 'Employee588', 'Employee589', 'Employee590', 'Employee591', 'Employee592', 'Employee593', 'Employee594', 'Employee595', 'Employee596', 'Employee597', 'Manager1']

In [150]:
employees = ["Employee" + str(i) for i in range(1, 598)] + ["Manager1", "Manager2", "Manager3"]
print(employees[0:-3])

['Employee1', 'Employee2', 'Employee3', 'Employee4', 'Employee5', 'Employee6', 'Employee7', 'Employee8', 'Employee9', 'Employee10', 'Employee11', 'Employee12', 'Employee13', 'Employee14', 'Employee15', 'Employee16', 'Employee17', 'Employee18', 'Employee19', 'Employee20', 'Employee21', 'Employee22', 'Employee23', 'Employee24', 'Employee25', 'Employee26', 'Employee27', 'Employee28', 'Employee29', 'Employee30', 'Employee31', 'Employee32', 'Employee33', 'Employee34', 'Employee35', 'Employee36', 'Employee37', 'Employee38', 'Employee39', 'Employee40', 'Employee41', 'Employee42', 'Employee43', 'Employee44', 'Employee45', 'Employee46', 'Employee47', 'Employee48', 'Employee49', 'Employee50', 'Employee51', 'Employee52', 'Employee53', 'Employee54', 'Employee55', 'Employee56', 'Employee57', 'Employee58', 'Employee59', 'Employee60', 'Employee61', 'Employee62', 'Employee63', 'Employee64', 'Employee65', 'Employee66', 'Employee67', 'Employee68', 'Employee69', 'Employee70', 'Employee71', 'Employee72', 'Employee73', 'Employee74', 'Employee75', 'Employee76', 'Employee77', 'Employee78', 'Employee79', 'Employee80', 'Employee81', 'Employee82', 'Employee83', 'Employee84', 'Employee85', 'Employee86', 'Employee87', 'Employee88', 'Employee89', 'Employee90', 'Employee91', 'Employee92', 'Employee93', 'Employee94', 'Employee95', 'Employee96', 'Employee97', 'Employee98', 'Employee99', 'Employee100', 'Employee101', 'Employee102', 'Employee103', 'Employee104', 'Employee105', 'Employee106', 'Employee107', 'Employee108', 'Employee109', 'Employee110', 'Employee111', 'Employee112', 'Employee113', 'Employee114', 'Employee115', 'Employee116', 'Employee117', 'Employee118', 'Employee119', 'Employee120', 'Employee121', 'Employee122', 'Employee123', 'Employee124', 'Employee125', 'Employee126', 'Employee127', 'Employee128', 'Employee129', 'Employee130', 'Employee131', 'Employee132', 'Employee133', 'Employee134', 'Employee135', 'Employee136', 'Employee137', 'Employee138', 'Employee139', 'Employee140', 'Employee141', 'Employee142', 'Employee143', 'Employee144', 'Employee145', 'Employee146', 'Employee147', 'Employee148', 'Employee149', 'Employee150', 'Employee151', 'Employee152', 'Employee153', 'Employee154', 'Employee155', 'Employee156', 'Employee157', 'Employee158', 'Employee159', 'Employee160', 'Employee161', 'Employee162', 'Employee163', 'Employee164', 'Employee165', 'Employee166', 'Employee167', 'Employee168', 'Employee169', 'Employee170', 'Employee171', 'Employee172', 'Employee173', 'Employee174', 'Employee175', 'Employee176', 'Employee177', 'Employee178', 'Employee179', 'Employee180', 'Employee181', 'Employee182', 'Employee183', 'Employee184', 'Employee185', 'Employee186', 'Employee187', 'Employee188', 'Employee189', 'Employee190', 'Employee191', 'Employee192', 'Employee193', 'Employee194', 'Employee195', 'Employee196', 'Employee197', 'Employee198', 'Employee199', 'Employee200', 'Employee201', 'Employee202', 'Employee203', 'Employee204', 'Employee205', 'Employee206', 'Employee207', 'Employee208', 'Employee209', 'Employee210', 'Employee211', 'Employee212', 'Employee213', 'Employee214', 'Employee215', 'Employee216', 'Employee217', 'Employee218', 'Employee219', 'Employee220', 'Employee221', 'Employee222', 'Employee223', 'Employee224', 'Employee225', 'Employee226', 'Employee227', 'Employee228', 'Employee229', 'Employee230', 'Employee231', 'Employee232', 'Employee233', 'Employee234', 'Employee235', 'Employee236', 'Employee237', 'Employee238', 'Employee239', 'Employee240', 'Employee241', 'Employee242', 'Employee243', 'Employee244', 'Employee245', 'Employee246', 'Employee247', 'Employee248', 'Employee249', 'Employee250', 'Employee251', 'Employee252', 'Employee253', 'Employee254', 'Employee255', 'Employee256', 'Employee257', 'Employee258', 'Employee259', 'Employee260', 'Employee261', 'Employee262', 'Employee263', 'Employee264', 'Employee265', 'Employee266', 'Employee267', 'Employee268', 'Employee269', 'Employee270', 'Employee271', 'Employee272', 'Employee273', 'Employee274', 'Employee275', 'Employee276', 'Employee277', 'Employee278', 'Employee279', 'Employee280', 'Employee281', 'Employee282', 'Employee283', 'Employee284', 'Employee285', 'Employee286', 'Employee287', 'Employee288', 'Employee289', 'Employee290', 'Employee291', 'Employee292', 'Employee293', 'Employee294', 'Employee295', 'Employee296', 'Employee297', 'Employee298', 'Employee299', 'Employee300', 'Employee301', 'Employee302', 'Employee303', 'Employee304', 'Employee305', 'Employee306', 'Employee307', 'Employee308', 'Employee309', 'Employee310', 'Employee311', 'Employee312', 'Employee313', 'Employee314', 'Employee315', 'Employee316', 'Employee317', 'Employee318', 'Employee319', 'Employee320', 'Employee321', 'Employee322', 'Employee323', 'Employee324', 'Employee325', 'Employee326', 'Employee327', 'Employee328', 'Employee329', 'Employee330', 'Employee331', 'Employee332', 'Employee333', 'Employee334', 'Employee335', 'Employee336', 'Employee337', 'Employee338', 'Employee339', 'Employee340', 'Employee341', 'Employee342', 'Employee343', 'Employee344', 'Employee345', 'Employee346', 'Employee347', 'Employee348', 'Employee349', 'Employee350', 'Employee351', 'Employee352', 'Employee353', 'Employee354', 'Employee355', 'Employee356', 'Employee357', 'Employee358', 'Employee359', 'Employee360', 'Employee361', 'Employee362', 'Employee363', 'Employee364', 'Employee365', 'Employee366', 'Employee367', 'Employee368', 'Employee369', 'Employee370', 'Employee371', 'Employee372', 'Employee373', 'Employee374', 'Employee375', 'Employee376', 'Employee377', 'Employee378', 'Employee379', 'Employee380', 'Employee381', 'Employee382', 'Employee383', 'Employee384', 'Employee385', 'Employee386', 'Employee387', 'Employee388', 'Employee389', 'Employee390', 'Employee391', 'Employee392', 'Employee393', 'Employee394', 'Employee395', 'Employee396', 'Employee397', 'Employee398', 'Employee399', 'Employee400', 'Employee401', 'Employee402', 'Employee403', 'Employee404', 'Employee405', 'Employee406', 'Employee407', 'Employee408', 'Employee409', 'Employee410', 'Employee411', 'Employee412', 'Employee413', 'Employee414', 'Employee415', 'Employee416', 'Employee417', 'Employee418', 'Employee419', 'Employee420', 'Employee421', 'Employee422', 'Employee423', 'Employee424', 'Employee425', 'Employee426', 'Employee427', 'Employee428', 'Employee429', 'Employee430', 'Employee431', 'Employee432', 'Employee433', 'Employee434', 'Employee435', 'Employee436', 'Employee437', 'Employee438', 'Employee439', 'Employee440', 'Employee441', 'Employee442', 'Employee443', 'Employee444', 'Employee445', 'Employee446', 'Employee447', 'Employee448', 'Employee449', 'Employee450', 'Employee451', 'Employee452', 'Employee453', 'Employee454', 'Employee455', 'Employee456', 'Employee457', 'Employee458', 'Employee459', 'Employee460', 'Employee461', 'Employee462', 'Employee463', 'Employee464', 'Employee465', 'Employee466', 'Employee467', 'Employee468', 'Employee469', 'Employee470', 'Employee471', 'Employee472', 'Employee473', 'Employee474', 'Employee475', 'Employee476', 'Employee477', 'Employee478', 'Employee479', 'Employee480', 'Employee481', 'Employee482', 'Employee483', 'Employee484', 'Employee485', 'Employee486', 'Employee487', 'Employee488', 'Employee489', 'Employee490', 'Employee491', 'Employee492', 'Employee493', 'Employee494', 'Employee495', 'Employee496', 'Employee497', 'Employee498', 'Employee499', 'Employee500', 'Employee501', 'Employee502', 'Employee503', 'Employee504', 'Employee505', 'Employee506', 'Employee507', 'Employee508', 'Employee509', 'Employee510', 'Employee511', 'Employee512', 'Employee513', 'Employee514', 'Employee515', 'Employee516', 'Employee517', 'Employee518', 'Employee519', 'Employee520', 'Employee521', 'Employee522', 'Employee523', 'Employee524', 'Employee525', 'Employee526', 'Employee527', 'Employee528', 'Employee529', 'Employee530', 'Employee531', 'Employee532', 'Employee533', 'Employee534', 'Employee535', 'Employee536', 'Employee537', 'Employee538', 'Employee539', 'Employee540', 'Employee541', 'Employee542', 'Employee543', 'Employee544', 'Employee545', 'Employee546', 'Employee547', 'Employee548', 'Employee549', 'Employee550', 'Employee551', 'Employee552', 'Employee553', 'Employee554', 'Employee555', 'Employee556', 'Employee557', 'Employee558', 'Employee559', 'Employee560', 'Employee561', 'Employee562', 'Employee563', 'Employee564', 'Employee565', 'Employee566', 'Employee567', 'Employee568', 'Employee569', 'Employee570', 'Employee571', 'Employee572', 'Employee573', 'Employee574', 'Employee575', 'Employee576', 'Employee577', 'Employee578', 'Employee579', 'Employee580', 'Employee581', 'Employee582', 'Employee583', 'Employee584', 'Employee585', 'Employee586', 'Employee587', 'Employee588', 'Employee589', 'Employee590', 'Employee591', 'Employee592', 'Employee593', 'Employee594', 'Employee595', 'Employee596', 'Employee597']

In [151]:
employees = ["Employee" + str(i) for i in range(1, 598)] + ["Manager1", "Manager2", "Manager3"]
print(employees[0:-2])

['Employee1', 'Employee2', 'Employee3', 'Employee4', 'Employee5', 'Employee6', 'Employee7', 'Employee8', 'Employee9', 'Employee10', 'Employee11', 'Employee12', 'Employee13', 'Employee14', 'Employee15', 'Employee16', 'Employee17', 'Employee18', 'Employee19', 'Employee20', 'Employee21', 'Employee22', 'Employee23', 'Employee24', 'Employee25', 'Employee26', 'Employee27', 'Employee28', 'Employee29', 'Employee30', 'Employee31', 'Employee32', 'Employee33', 'Employee34', 'Employee35', 'Employee36', 'Employee37', 'Employee38', 'Employee39', 'Employee40', 'Employee41', 'Employee42', 'Employee43', 'Employee44', 'Employee45', 'Employee46', 'Employee47', 'Employee48', 'Employee49', 'Employee50', 'Employee51', 'Employee52', 'Employee53', 'Employee54', 'Employee55', 'Employee56', 'Employee57', 'Employee58', 'Employee59', 'Employee60', 'Employee61', 'Employee62', 'Employee63', 'Employee64', 'Employee65', 'Employee66', 'Employee67', 'Employee68', 'Employee69', 'Employee70', 'Employee71', 'Employee72', 'Employee73', 'Employee74', 'Employee75', 'Employee76', 'Employee77', 'Employee78', 'Employee79', 'Employee80', 'Employee81', 'Employee82', 'Employee83', 'Employee84', 'Employee85', 'Employee86', 'Employee87', 'Employee88', 'Employee89', 'Employee90', 'Employee91', 'Employee92', 'Employee93', 'Employee94', 'Employee95', 'Employee96', 'Employee97', 'Employee98', 'Employee99', 'Employee100', 'Employee101', 'Employee102', 'Employee103', 'Employee104', 'Employee105', 'Employee106', 'Employee107', 'Employee108', 'Employee109', 'Employee110', 'Employee111', 'Employee112', 'Employee113', 'Employee114', 'Employee115', 'Employee116', 'Employee117', 'Employee118', 'Employee119', 'Employee120', 'Employee121', 'Employee122', 'Employee123', 'Employee124', 'Employee125', 'Employee126', 'Employee127', 'Employee128', 'Employee129', 'Employee130', 'Employee131', 'Employee132', 'Employee133', 'Employee134', 'Employee135', 'Employee136', 'Employee137', 'Employee138', 'Employee139', 'Employee140', 'Employee141', 'Employee142', 'Employee143', 'Employee144', 'Employee145', 'Employee146', 'Employee147', 'Employee148', 'Employee149', 'Employee150', 'Employee151', 'Employee152', 'Employee153', 'Employee154', 'Employee155', 'Employee156', 'Employee157', 'Employee158', 'Employee159', 'Employee160', 'Employee161', 'Employee162', 'Employee163', 'Employee164', 'Employee165', 'Employee166', 'Employee167', 'Employee168', 'Employee169', 'Employee170', 'Employee171', 'Employee172', 'Employee173', 'Employee174', 'Employee175', 'Employee176', 'Employee177', 'Employee178', 'Employee179', 'Employee180', 'Employee181', 'Employee182', 'Employee183', 'Employee184', 'Employee185', 'Employee186', 'Employee187', 'Employee188', 'Employee189', 'Employee190', 'Employee191', 'Employee192', 'Employee193', 'Employee194', 'Employee195', 'Employee196', 'Employee197', 'Employee198', 'Employee199', 'Employee200', 'Employee201', 'Employee202', 'Employee203', 'Employee204', 'Employee205', 'Employee206', 'Employee207', 'Employee208', 'Employee209', 'Employee210', 'Employee211', 'Employee212', 'Employee213', 'Employee214', 'Employee215', 'Employee216', 'Employee217', 'Employee218', 'Employee219', 'Employee220', 'Employee221', 'Employee222', 'Employee223', 'Employee224', 'Employee225', 'Employee226', 'Employee227', 'Employee228', 'Employee229', 'Employee230', 'Employee231', 'Employee232', 'Employee233', 'Employee234', 'Employee235', 'Employee236', 'Employee237', 'Employee238', 'Employee239', 'Employee240', 'Employee241', 'Employee242', 'Employee243', 'Employee244', 'Employee245', 'Employee246', 'Employee247', 'Employee248', 'Employee249', 'Employee250', 'Employee251', 'Employee252', 'Employee253', 'Employee254', 'Employee255', 'Employee256', 'Employee257', 'Employee258', 'Employee259', 'Employee260', 'Employee261', 'Employee262', 'Employee263', 'Employee264', 'Employee265', 'Employee266', 'Employee267', 'Employee268', 'Employee269', 'Employee270', 'Employee271', 'Employee272', 'Employee273', 'Employee274', 'Employee275', 'Employee276', 'Employee277', 'Employee278', 'Employee279', 'Employee280', 'Employee281', 'Employee282', 'Employee283', 'Employee284', 'Employee285', 'Employee286', 'Employee287', 'Employee288', 'Employee289', 'Employee290', 'Employee291', 'Employee292', 'Employee293', 'Employee294', 'Employee295', 'Employee296', 'Employee297', 'Employee298', 'Employee299', 'Employee300', 'Employee301', 'Employee302', 'Employee303', 'Employee304', 'Employee305', 'Employee306', 'Employee307', 'Employee308', 'Employee309', 'Employee310', 'Employee311', 'Employee312', 'Employee313', 'Employee314', 'Employee315', 'Employee316', 'Employee317', 'Employee318', 'Employee319', 'Employee320', 'Employee321', 'Employee322', 'Employee323', 'Employee324', 'Employee325', 'Employee326', 'Employee327', 'Employee328', 'Employee329', 'Employee330', 'Employee331', 'Employee332', 'Employee333', 'Employee334', 'Employee335', 'Employee336', 'Employee337', 'Employee338', 'Employee339', 'Employee340', 'Employee341', 'Employee342', 'Employee343', 'Employee344', 'Employee345', 'Employee346', 'Employee347', 'Employee348', 'Employee349', 'Employee350', 'Employee351', 'Employee352', 'Employee353', 'Employee354', 'Employee355', 'Employee356', 'Employee357', 'Employee358', 'Employee359', 'Employee360', 'Employee361', 'Employee362', 'Employee363', 'Employee364', 'Employee365', 'Employee366', 'Employee367', 'Employee368', 'Employee369', 'Employee370', 'Employee371', 'Employee372', 'Employee373', 'Employee374', 'Employee375', 'Employee376', 'Employee377', 'Employee378', 'Employee379', 'Employee380', 'Employee381', 'Employee382', 'Employee383', 'Employee384', 'Employee385', 'Employee386', 'Employee387', 'Employee388', 'Employee389', 'Employee390', 'Employee391', 'Employee392', 'Employee393', 'Employee394', 'Employee395', 'Employee396', 'Employee397', 'Employee398', 'Employee399', 'Employee400', 'Employee401', 'Employee402', 'Employee403', 'Employee404', 'Employee405', 'Employee406', 'Employee407', 'Employee408', 'Employee409', 'Employee410', 'Employee411', 'Employee412', 'Employee413', 'Employee414', 'Employee415', 'Employee416', 'Employee417', 'Employee418', 'Employee419', 'Employee420', 'Employee421', 'Employee422', 'Employee423', 'Employee424', 'Employee425', 'Employee426', 'Employee427', 'Employee428', 'Employee429', 'Employee430', 'Employee431', 'Employee432', 'Employee433', 'Employee434', 'Employee435', 'Employee436', 'Employee437', 'Employee438', 'Employee439', 'Employee440', 'Employee441', 'Employee442', 'Employee443', 'Employee444', 'Employee445', 'Employee446', 'Employee447', 'Employee448', 'Employee449', 'Employee450', 'Employee451', 'Employee452', 'Employee453', 'Employee454', 'Employee455', 'Employee456', 'Employee457', 'Employee458', 'Employee459', 'Employee460', 'Employee461', 'Employee462', 'Employee463', 'Employee464', 'Employee465', 'Employee466', 'Employee467', 'Employee468', 'Employee469', 'Employee470', 'Employee471', 'Employee472', 'Employee473', 'Employee474', 'Employee475', 'Employee476', 'Employee477', 'Employee478', 'Employee479', 'Employee480', 'Employee481', 'Employee482', 'Employee483', 'Employee484', 'Employee485', 'Employee486', 'Employee487', 'Employee488', 'Employee489', 'Employee490', 'Employee491', 'Employee492', 'Employee493', 'Employee494', 'Employee495', 'Employee496', 'Employee497', 'Employee498', 'Employee499', 'Employee500', 'Employee501', 'Employee502', 'Employee503', 'Employee504', 'Employee505', 'Employee506', 'Employee507', 'Employee508', 'Employee509', 'Employee510', 'Employee511', 'Employee512', 'Employee513', 'Employee514', 'Employee515', 'Employee516', 'Employee517', 'Employee518', 'Employee519', 'Employee520', 'Employee521', 'Employee522', 'Employee523', 'Employee524', 'Employee525', 'Employee526', 'Employee527', 'Employee528', 'Employee529', 'Employee530', 'Employee531', 'Employee532', 'Employee533', 'Employee534', 'Employee535', 'Employee536', 'Employee537', 'Employee538', 'Employee539', 'Employee540', 'Employee541', 'Employee542', 'Employee543', 'Employee544', 'Employee545', 'Employee546', 'Employee547', 'Employee548', 'Employee549', 'Employee550', 'Employee551', 'Employee552', 'Employee553', 'Employee554', 'Employee555', 'Employee556', 'Employee557', 'Employee558', 'Employee559', 'Employee560', 'Employee561', 'Employee562', 'Employee563', 'Employee564', 'Employee565', 'Employee566', 'Employee567', 'Employee568', 'Employee569', 'Employee570', 'Employee571', 'Employee572', 'Employee573', 'Employee574', 'Employee575', 'Employee576', 'Employee577', 'Employee578', 'Employee579', 'Employee580', 'Employee581', 'Employee582', 'Employee583', 'Employee584', 'Employee585', 'Employee586', 'Employee587', 'Employee588', 'Employee589', 'Employee590', 'Employee591', 'Employee592', 'Employee593', 'Employee594', 'Employee595', 'Employee596', 'Employee597', 'Manager1']

In [152]:
employees = ["Employee" + str(i) for i in range(1, 598)] + ["Manager1", "Manager2", "Manager3"]
print(employees[0:-3])

['Employee1', 'Employee2', 'Employee3', 'Employee4', 'Employee5', 'Employee6', 'Employee7', 'Employee8', 'Employee9', 'Employee10', 'Employee11', 'Employee12', 'Employee13', 'Employee14', 'Employee15', 'Employee16', 'Employee17', 'Employee18', 'Employee19', 'Employee20', 'Employee21', 'Employee22', 'Employee23', 'Employee24', 'Employee25', 'Employee26', 'Employee27', 'Employee28', 'Employee29', 'Employee30', 'Employee31', 'Employee32', 'Employee33', 'Employee34', 'Employee35', 'Employee36', 'Employee37', 'Employee38', 'Employee39', 'Employee40', 'Employee41', 'Employee42', 'Employee43', 'Employee44', 'Employee45', 'Employee46', 'Employee47', 'Employee48', 'Employee49', 'Employee50', 'Employee51', 'Employee52', 'Employee53', 'Employee54', 'Employee55', 'Employee56', 'Employee57', 'Employee58', 'Employee59', 'Employee60', 'Employee61', 'Employee62', 'Employee63', 'Employee64', 'Employee65', 'Employee66', 'Employee67', 'Employee68', 'Employee69', 'Employee70', 'Employee71', 'Employee72', 'Employee73', 'Employee74', 'Employee75', 'Employee76', 'Employee77', 'Employee78', 'Employee79', 'Employee80', 'Employee81', 'Employee82', 'Employee83', 'Employee84', 'Employee85', 'Employee86', 'Employee87', 'Employee88', 'Employee89', 'Employee90', 'Employee91', 'Employee92', 'Employee93', 'Employee94', 'Employee95', 'Employee96', 'Employee97', 'Employee98', 'Employee99', 'Employee100', 'Employee101', 'Employee102', 'Employee103', 'Employee104', 'Employee105', 'Employee106', 'Employee107', 'Employee108', 'Employee109', 'Employee110', 'Employee111', 'Employee112', 'Employee113', 'Employee114', 'Employee115', 'Employee116', 'Employee117', 'Employee118', 'Employee119', 'Employee120', 'Employee121', 'Employee122', 'Employee123', 'Employee124', 'Employee125', 'Employee126', 'Employee127', 'Employee128', 'Employee129', 'Employee130', 'Employee131', 'Employee132', 'Employee133', 'Employee134', 'Employee135', 'Employee136', 'Employee137', 'Employee138', 'Employee139', 'Employee140', 'Employee141', 'Employee142', 'Employee143', 'Employee144', 'Employee145', 'Employee146', 'Employee147', 'Employee148', 'Employee149', 'Employee150', 'Employee151', 'Employee152', 'Employee153', 'Employee154', 'Employee155', 'Employee156', 'Employee157', 'Employee158', 'Employee159', 'Employee160', 'Employee161', 'Employee162', 'Employee163', 'Employee164', 'Employee165', 'Employee166', 'Employee167', 'Employee168', 'Employee169', 'Employee170', 'Employee171', 'Employee172', 'Employee173', 'Employee174', 'Employee175', 'Employee176', 'Employee177', 'Employee178', 'Employee179', 'Employee180', 'Employee181', 'Employee182', 'Employee183', 'Employee184', 'Employee185', 'Employee186', 'Employee187', 'Employee188', 'Employee189', 'Employee190', 'Employee191', 'Employee192', 'Employee193', 'Employee194', 'Employee195', 'Employee196', 'Employee197', 'Employee198', 'Employee199', 'Employee200', 'Employee201', 'Employee202', 'Employee203', 'Employee204', 'Employee205', 'Employee206', 'Employee207', 'Employee208', 'Employee209', 'Employee210', 'Employee211', 'Employee212', 'Employee213', 'Employee214', 'Employee215', 'Employee216', 'Employee217', 'Employee218', 'Employee219', 'Employee220', 'Employee221', 'Employee222', 'Employee223', 'Employee224', 'Employee225', 'Employee226', 'Employee227', 'Employee228', 'Employee229', 'Employee230', 'Employee231', 'Employee232', 'Employee233', 'Employee234', 'Employee235', 'Employee236', 'Employee237', 'Employee238', 'Employee239', 'Employee240', 'Employee241', 'Employee242', 'Employee243', 'Employee244', 'Employee245', 'Employee246', 'Employee247', 'Employee248', 'Employee249', 'Employee250', 'Employee251', 'Employee252', 'Employee253', 'Employee254', 'Employee255', 'Employee256', 'Employee257', 'Employee258', 'Employee259', 'Employee260', 'Employee261', 'Employee262', 'Employee263', 'Employee264', 'Employee265', 'Employee266', 'Employee267', 'Employee268', 'Employee269', 'Employee270', 'Employee271', 'Employee272', 'Employee273', 'Employee274', 'Employee275', 'Employee276', 'Employee277', 'Employee278', 'Employee279', 'Employee280', 'Employee281', 'Employee282', 'Employee283', 'Employee284', 'Employee285', 'Employee286', 'Employee287', 'Employee288', 'Employee289', 'Employee290', 'Employee291', 'Employee292', 'Employee293', 'Employee294', 'Employee295', 'Employee296', 'Employee297', 'Employee298', 'Employee299', 'Employee300', 'Employee301', 'Employee302', 'Employee303', 'Employee304', 'Employee305', 'Employee306', 'Employee307', 'Employee308', 'Employee309', 'Employee310', 'Employee311', 'Employee312', 'Employee313', 'Employee314', 'Employee315', 'Employee316', 'Employee317', 'Employee318', 'Employee319', 'Employee320', 'Employee321', 'Employee322', 'Employee323', 'Employee324', 'Employee325', 'Employee326', 'Employee327', 'Employee328', 'Employee329', 'Employee330', 'Employee331', 'Employee332', 'Employee333', 'Employee334', 'Employee335', 'Employee336', 'Employee337', 'Employee338', 'Employee339', 'Employee340', 'Employee341', 'Employee342', 'Employee343', 'Employee344', 'Employee345', 'Employee346', 'Employee347', 'Employee348', 'Employee349', 'Employee350', 'Employee351', 'Employee352', 'Employee353', 'Employee354', 'Employee355', 'Employee356', 'Employee357', 'Employee358', 'Employee359', 'Employee360', 'Employee361', 'Employee362', 'Employee363', 'Employee364', 'Employee365', 'Employee366', 'Employee367', 'Employee368', 'Employee369', 'Employee370', 'Employee371', 'Employee372', 'Employee373', 'Employee374', 'Employee375', 'Employee376', 'Employee377', 'Employee378', 'Employee379', 'Employee380', 'Employee381', 'Employee382', 'Employee383', 'Employee384', 'Employee385', 'Employee386', 'Employee387', 'Employee388', 'Employee389', 'Employee390', 'Employee391', 'Employee392', 'Employee393', 'Employee394', 'Employee395', 'Employee396', 'Employee397', 'Employee398', 'Employee399', 'Employee400', 'Employee401', 'Employee402', 'Employee403', 'Employee404', 'Employee405', 'Employee406', 'Employee407', 'Employee408', 'Employee409', 'Employee410', 'Employee411', 'Employee412', 'Employee413', 'Employee414', 'Employee415', 'Employee416', 'Employee417', 'Employee418', 'Employee419', 'Employee420', 'Employee421', 'Employee422', 'Employee423', 'Employee424', 'Employee425', 'Employee426', 'Employee427', 'Employee428', 'Employee429', 'Employee430', 'Employee431', 'Employee432', 'Employee433', 'Employee434', 'Employee435', 'Employee436', 'Employee437', 'Employee438', 'Employee439', 'Employee440', 'Employee441', 'Employee442', 'Employee443', 'Employee444', 'Employee445', 'Employee446', 'Employee447', 'Employee448', 'Employee449', 'Employee450', 'Employee451', 'Employee452', 'Employee453', 'Employee454', 'Employee455', 'Employee456', 'Employee457', 'Employee458', 'Employee459', 'Employee460', 'Employee461', 'Employee462', 'Employee463', 'Employee464', 'Employee465', 'Employee466', 'Employee467', 'Employee468', 'Employee469', 'Employee470', 'Employee471', 'Employee472', 'Employee473', 'Employee474', 'Employee475', 'Employee476', 'Employee477', 'Employee478', 'Employee479', 'Employee480', 'Employee481', 'Employee482', 'Employee483', 'Employee484', 'Employee485', 'Employee486', 'Employee487', 'Employee488', 'Employee489', 'Employee490', 'Employee491', 'Employee492', 'Employee493', 'Employee494', 'Employee495', 'Employee496', 'Employee497', 'Employee498', 'Employee499', 'Employee500', 'Employee501', 'Employee502', 'Employee503', 'Employee504', 'Employee505', 'Employee506', 'Employee507', 'Employee508', 'Employee509', 'Employee510', 'Employee511', 'Employee512', 'Employee513', 'Employee514', 'Employee515', 'Employee516', 'Employee517', 'Employee518', 'Employee519', 'Employee520', 'Employee521', 'Employee522', 'Employee523', 'Employee524', 'Employee525', 'Employee526', 'Employee527', 'Employee528', 'Employee529', 'Employee530', 'Employee531', 'Employee532', 'Employee533', 'Employee534', 'Employee535', 'Employee536', 'Employee537', 'Employee538', 'Employee539', 'Employee540', 'Employee541', 'Employee542', 'Employee543', 'Employee544', 'Employee545', 'Employee546', 'Employee547', 'Employee548', 'Employee549', 'Employee550', 'Employee551', 'Employee552', 'Employee553', 'Employee554', 'Employee555', 'Employee556', 'Employee557', 'Employee558', 'Employee559', 'Employee560', 'Employee561', 'Employee562', 'Employee563', 'Employee564', 'Employee565', 'Employee566', 'Employee567', 'Employee568', 'Employee569', 'Employee570', 'Employee571', 'Employee572', 'Employee573', 'Employee574', 'Employee575', 'Employee576', 'Employee577', 'Employee578', 'Employee579', 'Employee580', 'Employee581', 'Employee582', 'Employee583', 'Employee584', 'Employee585', 'Employee586', 'Employee587', 'Employee588', 'Employee589', 'Employee590', 'Employee591', 'Employee592', 'Employee593', 'Employee594', 'Employee595', 'Employee596', 'Employee597']

In [155]:
employees = ["Employee" + str(i) for i in range(1, 598)] + ["Manager1", "Manager2", "Manager3"]
print(employees[1:])  #### we need this code

['Employee2', 'Employee3', 'Employee4', 'Employee5', 'Employee6', 'Employee7', 'Employee8', 'Employee9', 'Employee10', 'Employee11', 'Employee12', 'Employee13', 'Employee14', 'Employee15', 'Employee16', 'Employee17', 'Employee18', 'Employee19', 'Employee20', 'Employee21', 'Employee22', 'Employee23', 'Employee24', 'Employee25', 'Employee26', 'Employee27', 'Employee28', 'Employee29', 'Employee30', 'Employee31', 'Employee32', 'Employee33', 'Employee34', 'Employee35', 'Employee36', 'Employee37', 'Employee38', 'Employee39', 'Employee40', 'Employee41', 'Employee42', 'Employee43', 'Employee44', 'Employee45', 'Employee46', 'Employee47', 'Employee48', 'Employee49', 'Employee50', 'Employee51', 'Employee52', 'Employee53', 'Employee54', 'Employee55', 'Employee56', 'Employee57', 'Employee58', 'Employee59', 'Employee60', 'Employee61', 'Employee62', 'Employee63', 'Employee64', 'Employee65', 'Employee66', 'Employee67', 'Employee68', 'Employee69', 'Employee70', 'Employee71', 'Employee72', 'Employee73', 'Employee74', 'Employee75', 'Employee76', 'Employee77', 'Employee78', 'Employee79', 'Employee80', 'Employee81', 'Employee82', 'Employee83', 'Employee84', 'Employee85', 'Employee86', 'Employee87', 'Employee88', 'Employee89', 'Employee90', 'Employee91', 'Employee92', 'Employee93', 'Employee94', 'Employee95', 'Employee96', 'Employee97', 'Employee98', 'Employee99', 'Employee100', 'Employee101', 'Employee102', 'Employee103', 'Employee104', 'Employee105', 'Employee106', 'Employee107', 'Employee108', 'Employee109', 'Employee110', 'Employee111', 'Employee112', 'Employee113', 'Employee114', 'Employee115', 'Employee116', 'Employee117', 'Employee118', 'Employee119', 'Employee120', 'Employee121', 'Employee122', 'Employee123', 'Employee124', 'Employee125', 'Employee126', 'Employee127', 'Employee128', 'Employee129', 'Employee130', 'Employee131', 'Employee132', 'Employee133', 'Employee134', 'Employee135', 'Employee136', 'Employee137', 'Employee138', 'Employee139', 'Employee140', 'Employee141', 'Employee142', 'Employee143', 'Employee144', 'Employee145', 'Employee146', 'Employee147', 'Employee148', 'Employee149', 'Employee150', 'Employee151', 'Employee152', 'Employee153', 'Employee154', 'Employee155', 'Employee156', 'Employee157', 'Employee158', 'Employee159', 'Employee160', 'Employee161', 'Employee162', 'Employee163', 'Employee164', 'Employee165', 'Employee166', 'Employee167', 'Employee168', 'Employee169', 'Employee170', 'Employee171', 'Employee172', 'Employee173', 'Employee174', 'Employee175', 'Employee176', 'Employee177', 'Employee178', 'Employee179', 'Employee180', 'Employee181', 'Employee182', 'Employee183', 'Employee184', 'Employee185', 'Employee186', 'Employee187', 'Employee188', 'Employee189', 'Employee190', 'Employee191', 'Employee192', 'Employee193', 'Employee194', 'Employee195', 'Employee196', 'Employee197', 'Employee198', 'Employee199', 'Employee200', 'Employee201', 'Employee202', 'Employee203', 'Employee204', 'Employee205', 'Employee206', 'Employee207', 'Employee208', 'Employee209', 'Employee210', 'Employee211', 'Employee212', 'Employee213', 'Employee214', 'Employee215', 'Employee216', 'Employee217', 'Employee218', 'Employee219', 'Employee220', 'Employee221', 'Employee222', 'Employee223', 'Employee224', 'Employee225', 'Employee226', 'Employee227', 'Employee228', 'Employee229', 'Employee230', 'Employee231', 'Employee232', 'Employee233', 'Employee234', 'Employee235', 'Employee236', 'Employee237', 'Employee238', 'Employee239', 'Employee240', 'Employee241', 'Employee242', 'Employee243', 'Employee244', 'Employee245', 'Employee246', 'Employee247', 'Employee248', 'Employee249', 'Employee250', 'Employee251', 'Employee252', 'Employee253', 'Employee254', 'Employee255', 'Employee256', 'Employee257', 'Employee258', 'Employee259', 'Employee260', 'Employee261', 'Employee262', 'Employee263', 'Employee264', 'Employee265', 'Employee266', 'Employee267', 'Employee268', 'Employee269', 'Employee270', 'Employee271', 'Employee272', 'Employee273', 'Employee274', 'Employee275', 'Employee276', 'Employee277', 'Employee278', 'Employee279', 'Employee280', 'Employee281', 'Employee282', 'Employee283', 'Employee284', 'Employee285', 'Employee286', 'Employee287', 'Employee288', 'Employee289', 'Employee290', 'Employee291', 'Employee292', 'Employee293', 'Employee294', 'Employee295', 'Employee296', 'Employee297', 'Employee298', 'Employee299', 'Employee300', 'Employee301', 'Employee302', 'Employee303', 'Employee304', 'Employee305', 'Employee306', 'Employee307', 'Employee308', 'Employee309', 'Employee310', 'Employee311', 'Employee312', 'Employee313', 'Employee314', 'Employee315', 'Employee316', 'Employee317', 'Employee318', 'Employee319', 'Employee320', 'Employee321', 'Employee322', 'Employee323', 'Employee324', 'Employee325', 'Employee326', 'Employee327', 'Employee328', 'Employee329', 'Employee330', 'Employee331', 'Employee332', 'Employee333', 'Employee334', 'Employee335', 'Employee336', 'Employee337', 'Employee338', 'Employee339', 'Employee340', 'Employee341', 'Employee342', 'Employee343', 'Employee344', 'Employee345', 'Employee346', 'Employee347', 'Employee348', 'Employee349', 'Employee350', 'Employee351', 'Employee352', 'Employee353', 'Employee354', 'Employee355', 'Employee356', 'Employee357', 'Employee358', 'Employee359', 'Employee360', 'Employee361', 'Employee362', 'Employee363', 'Employee364', 'Employee365', 'Employee366', 'Employee367', 'Employee368', 'Employee369', 'Employee370', 'Employee371', 'Employee372', 'Employee373', 'Employee374', 'Employee375', 'Employee376', 'Employee377', 'Employee378', 'Employee379', 'Employee380', 'Employee381', 'Employee382', 'Employee383', 'Employee384', 'Employee385', 'Employee386', 'Employee387', 'Employee388', 'Employee389', 'Employee390', 'Employee391', 'Employee392', 'Employee393', 'Employee394', 'Employee395', 'Employee396', 'Employee397', 'Employee398', 'Employee399', 'Employee400', 'Employee401', 'Employee402', 'Employee403', 'Employee404', 'Employee405', 'Employee406', 'Employee407', 'Employee408', 'Employee409', 'Employee410', 'Employee411', 'Employee412', 'Employee413', 'Employee414', 'Employee415', 'Employee416', 'Employee417', 'Employee418', 'Employee419', 'Employee420', 'Employee421', 'Employee422', 'Employee423', 'Employee424', 'Employee425', 'Employee426', 'Employee427', 'Employee428', 'Employee429', 'Employee430', 'Employee431', 'Employee432', 'Employee433', 'Employee434', 'Employee435', 'Employee436', 'Employee437', 'Employee438', 'Employee439', 'Employee440', 'Employee441', 'Employee442', 'Employee443', 'Employee444', 'Employee445', 'Employee446', 'Employee447', 'Employee448', 'Employee449', 'Employee450', 'Employee451', 'Employee452', 'Employee453', 'Employee454', 'Employee455', 'Employee456', 'Employee457', 'Employee458', 'Employee459', 'Employee460', 'Employee461', 'Employee462', 'Employee463', 'Employee464', 'Employee465', 'Employee466', 'Employee467', 'Employee468', 'Employee469', 'Employee470', 'Employee471', 'Employee472', 'Employee473', 'Employee474', 'Employee475', 'Employee476', 'Employee477', 'Employee478', 'Employee479', 'Employee480', 'Employee481', 'Employee482', 'Employee483', 'Employee484', 'Employee485', 'Employee486', 'Employee487', 'Employee488', 'Employee489', 'Employee490', 'Employee491', 'Employee492', 'Employee493', 'Employee494', 'Employee495', 'Employee496', 'Employee497', 'Employee498', 'Employee499', 'Employee500', 'Employee501', 'Employee502', 'Employee503', 'Employee504', 'Employee505', 'Employee506', 'Employee507', 'Employee508', 'Employee509', 'Employee510', 'Employee511', 'Employee512', 'Employee513', 'Employee514', 'Employee515', 'Employee516', 'Employee517', 'Employee518', 'Employee519', 'Employee520', 'Employee521', 'Employee522', 'Employee523', 'Employee524', 'Employee525', 'Employee526', 'Employee527', 'Employee528', 'Employee529', 'Employee530', 'Employee531', 'Employee532', 'Employee533', 'Employee534', 'Employee535', 'Employee536', 'Employee537', 'Employee538', 'Employee539', 'Employee540', 'Employee541', 'Employee542', 'Employee543', 'Employee544', 'Employee545', 'Employee546', 'Employee547', 'Employee548', 'Employee549', 'Employee550', 'Employee551', 'Employee552', 'Employee553', 'Employee554', 'Employee555', 'Employee556', 'Employee557', 'Employee558', 'Employee559', 'Employee560', 'Employee561', 'Employee562', 'Employee563', 'Employee564', 'Employee565', 'Employee566', 'Employee567', 'Employee568', 'Employee569', 'Employee570', 'Employee571', 'Employee572', 'Employee573', 'Employee574', 'Employee575', 'Employee576', 'Employee577', 'Employee578', 'Employee579', 'Employee580', 'Employee581', 'Employee582', 'Employee583', 'Employee584', 'Employee585', 'Employee586', 'Employee587', 'Employee588', 'Employee589', 'Employee590', 'Employee591', 'Employee592', 'Employee593', 'Employee594', 'Employee595', 'Employee596', 'Employee597', 'Manager1', 'Manager2', 'Manager3']

## 28 code to access mango

In [156]:
list=['Apple','Banana','Carrot','Mango']

In [157]:
list

['Apple', 'Banana', 'Carrot', 'Mango']

In [158]:
list[0]

'Apple'

In [159]:
list[-1]

'Mango'

In [160]:
list[2]

'Carrot'

In [161]:
list[3]

'Mango'

In [162]:
list[4]  ## because list start from 0

IndexError: list index out of range

## 29 which code snippet will produce the following output

In [164]:
## Boy
## Cat
## Dog

In [165]:
l=['Apple','Boy','Cat','Dog']
for x in l:
    print(x)

Apple
Boy
Cat
Dog

In [ ]:
l=['Apple','Boy','Cat','Dog']
for x in l:
    if len(x) !=3:
    print(x)     expected an indented block after 'if' statement on line 3
    --------- need print slightly right in side

In [172]:


l= ['Apple','Boy','Cat','Dog']

for x in l:
    if len(x) !=3:
        print(x)

Apple

In [169]:
l = ['Apple', 'Boy', 'Cat', 'Dog']

for x in l:
    if len(x) != 3:
        print(x)

Apple

In [173]:
l = ['Apple', 'Boy', 'Cat', 'Dog']

for x in l:
    if len(x) == 3:
        print(x)

Boy
Cat
Dog

In [174]:
l = ['Apple', 'Boy', 'Cat', 'Dog']
l2=l[1:]
for x in l2:
        print(x)

Boy
Cat
Dog

## 30

In [175]:
a=15
b=5
print(a/b)  ## / always meant by floating point arithmatic

3.0

## 31 in which case get indexerror while accessing employee names

In [176]:
employees = ["Employee" + str(i) for i in range(1, 501)]
print(employees[500])  ## because we trying to access list elments with out of the index range

IndexError: list index out of range

In [177]:
employees = ["Employee" + str(i) for i in range(1, 501)]
print(employees[0])

Employee1

In [178]:
employees = ["Employee" + str(i) for i in range(1, 501)]
print(employees[-1])

Employee500

## 32

In [179]:
a=1
b=2
c=4      ## we need result 0
d=6

In [180]:
(a+b)//c*d

0

In [181]:
(b+c)//a%d

0

In [182]:
(a+b)//c%d

0

In [183]:
(a+b)//d-c  ## this is correct

-4

## 33

In [186]:
s='python is easy'
s1=s[-7:]  ## give is easy
s2=s[-4:]  ## give easy
print(s1+s2)

is easyeasy

## 34 valid python operator precedence order

## (** - Exponentiation
## ~ - Bitwise NOT
## +x, -x, ~x - Unary plus, Unary minus, Bitwise negation
## *, /, //, % - Multiplication, Division, Floor division, Modulus
## +, - - Addition, Subtraction
## <<, >> - Bitwise shift operators
## & - Bitwise AND
## ^ - Bitwise XOR
## | - Bitwise OR
## <, <=, >, >=, ==, != - Comparison operators
## not - Logical NOT
## and - Logical AND
## or - Logical OR
## if...else - Conditional expression (ternary operator)
## lambda - Lambda expression)

## 35 b=(-a)**2

## 36

In [188]:
result=8//6%5+2**3-2
print(result)

7

## 37

In [189]:
a=3
b=5
a+=2**3
a-=b//2//3
print(a)

11

## 38 which expressin give true

In [191]:
a=bool([])
b=bool({})
c=bool(())
d=bool(range(0))
e=bool(set())

In [192]:
a

False

In [193]:
b

False

In [194]:
c

False

In [195]:
d

False

In [196]:
e

False

## 39 in which case 10 will be printed consol

In [197]:
numbers=[10,20,30,40]
x=0

In [200]:
for i in(30,40,50):
    if i in numbers:
        x=x+10
    print(x)

10
20
20

In [201]:
for i in(30,40,50):
    if i not in numbers:
        x=x+5
    print(x)

20
20
25

In [202]:
for i in(30,40,50):
    if i in numbers:
        x=x+5
    print(x)

30
35
35

In [203]:
for i in(30,40,50):
    if i not in numbers:
        x=x+10
    print(x)

35
35
45

## 40

In [205]:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1==n2)
n1=n2
print(n1 is n2)
print(n1==n2)

False
True
True
True