## 1 which expression evalute 4

In [1]:
7-2*3

1

In [2]:
7//2-3

0

In [3]:
7/2*3

10.5

In [4]:
7%2+3   ## this give answer

4

## 2 command ivocation generate output

In [5]:
from sys import argv

In [12]:
sum=0
for i in range(2,len(argv)):
    num = float(argv[i])
    sum += num
    avarage=sum/(len(argv)-2)
    print("The Avarage for {0} is {1:.2f}".format((argv[1]),avarge))

ValueError: could not convert string to float: 'C:\\Users\\admin\\AppData\\Roaming\\jupyter\\runtime\\kernel-ce44bf9e-1ee3-4c2f-812a-765c40f1b00f.json'

## 2

In [15]:
from sys import argv
sum=0
for i in range(2,len(argv)):
    sum += float(argv[i])
    print("The Avarage for {parth} is {1:.2f}".format((argv[1]),avarge))

ValueError: could not convert string to float: 'C:\\Users\\admin\\AppData\\Roaming\\jupyter\\runtime\\kernel-ce44bf9e-1ee3-4c2f-812a-765c40f1b00f.json'

## 3 how to get x value become 16

In [16]:
x=3
x+=1

In [17]:
x**2

16

In [18]:
x*=2

In [19]:
x+=2

In [20]:
x-=2

In [24]:
# Initial value of x
x = 3
x += 1

# Perform x ** 2
x**=2
print("After x ** 2:", x)
# Perform x *= 2
x *= 2
print("After x *= 2:", x)

# Perform x += 2
x += 2
print("After x += 2:", x)

# Perform x -= 2
x -= 2
print("After x -= 2:", x)

After x ** 2: 16
After x *= 2: 32
After x += 2: 34
After x -= 2: 32

## 4 if we enter 10 and 10.0 individually for every run what is the output

In [26]:
print(type(input('Enter some value:')))

Enter some value:10
<class 'str'>

In [27]:
print(type(input('Enter some value:')))  ###inpute funcion always retun string type only

Enter some value:10.0
<class 'str'>

## 5 what is the output

In [28]:
a=['a','b','c','d']
for i in a:
    a.append(i.upper())
    print(a)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

KeyboardInterrupt:

In [29]:
a = ['a', 'b', 'c', 'd']
new_list = []

for i in a:
    new_list.append(i.upper())        ##### this is the solution

print(new_list)

['A', 'B', 'C', 'D']

### 6 which of the following are is the type string

In [30]:
a='5'
b='2'

In [32]:
type(a*b)

TypeError: can't multiply sequence by non-int of type 'str'

In [33]:
type(a*2)

str

In [34]:
type(a+b)

str

In [35]:
type(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

## 7 if we enter 10 and 10.0 for every run what is the output

In [36]:
print(type(eval(input('Enter some value:'))))

Enter some value:10
<class 'int'>

In [37]:
print(type(eval(input('Enter some value:'))))

Enter some value:10.0
<class 'float'>

## 8 which line assign the code to 9 output

In [38]:
a=7
b=3
c=5
d=1
output1=a%c+1
print(output1)

output2=a+d*2
print(output2)  ## it gives output 9

output3=a+c//d
print(output3)

output4=c*d-1
print(output4)

3
9
12
4

## 9

In [39]:
from sys import arvg
print(arvg[0])

ImportError: cannot import name 'arvg' from 'sys' (unknown location)

In [40]:
# myscript.py
print("Hello, this is my script!")

Hello, this is my script!

In [41]:
pwd

'C:\\Users\\admin'

In [43]:
cd C:\Users\admin

C:\Users\admin

In [51]:
python3 myscript.py

SyntaxError: invalid syntax (2153973266.py, line 1)

## 10 what is the result

In [52]:
6//4%5+2**3-2//3

9

## 11 which line assign TT to the output

In [54]:
x='TEXT'
output=x[0]+x[-1]
print(output)

TT

In [55]:
x='TEXT'
output=x[0]+x[2]
print(output)

TX

In [56]:
x='TEXT'
output=x[1]+x[1]
print(output)

EE

In [57]:
x='TEXT'
output=x[1]+x[4]  ## 4----string index out of range
print(output)

IndexError: string index out of range

## 12 what is the result

In [58]:
print(10==10 and 20!=20)
print(10==10 or 20!=20)
print(not 10==10)

False
True
False

## 13 which expression evalute to 2

In [59]:
a=float('123.456')

In [60]:
bool(a)

True

In [62]:
int(a)+False

123

In [63]:
str(a)

'123.456'

In [64]:
bool(a)+True

2

## 14 create a function to calculate avarage velocity of vehicle

In [65]:
distance=xxx(input('Enter the distance travelled in feet:'))
distance_miles=distance/5280
time=yyy(input('Enter the time elapse in second:'))
time_hours=time/3600
velocity=distance_miles/time_hours
print('The avarage velocity:',velocity,'miles/hours')

NameError: name 'xxx' is not defined

In [ ]:
distance=float(input('Enter the distance travelled in feet:'))
distance_miles=distance/5280
time=float(input('Enter the time elapse in second:'))             ### we have to replace xxx and yyy to float
time_hours=time/3600
velocity=distance_miles/time_hours
print('The avarage velocity:',velocity,'miles/hours')

Enter the distance travelled in feet:2640

### 16 true will be printed

In [2]:
print('r' in 'durga')

True

In [3]:
a=45
b=45
print(a is not b)

False

In [4]:
print('is' in 'This IS Fake News')

True

In [5]:
x=[1,2,3]
y=[1,2,3]
print(x is y)

False

### 17 what is output

In [7]:
x=2
y=6
x+=2**3
x
print(x)

10

### 18 which consol print Durga

In [11]:
import numpy as py
from sys import argv
py.test.py.Durga
print(argv[1])

AttributeError: 'PytestTester' object has no attribute 'py'

## 21 which evalute 2

In [12]:
11/2

5.5

In [13]:
22%5

2

In [14]:
13//4

3

In [15]:
3**2

9

## 22 what is output

In [16]:
x=3/3+3**3-3
print(x)

25.0

## 23 what is output

In [18]:
result=str(bool(1)-float(10)/float(2))
print(result)

-4.0

## 24 what is result

In [19]:
from sys import argv
print(argv[1]+argv[2])

-fC:\Users\admin\AppData\Roaming\jupyter\runtime\kernel-b8ab4ff5-621a-4201-8138-b523e68b68ef.json

### 27 what is the result

In [21]:
print(not 0)
print(not 10)
print(not '')
print(not 'Durga')
print(not None)

True
False
True
False
True

### 28 what is the result

In [23]:
list_11=['sunny','bunney','chinny','vinny']
list_12=['sunny','bunney','chinny','vinny']
print(list_11 is not list_12)
print(list_11!=list_12)
list_11=list_12
print(list_11 is not list_12)
print(list_11!=list_12)

True
False
False
False

### 32 which of the following print AA

In [25]:
b='BANANA'

In [26]:
print(b[3]+b[5])

AA

In [27]:
print(b[1]+b[5])

AA

In [28]:
print(b[1]+b[2])

AN

In [29]:
print(b[1]+b[3])

AA

## 33 what is the result

In [30]:
list_11=['sunny','bunney','chinny','vinny']
list_12=['sunny','bunney','chinny','vinny']
print(list_11 is not list_12)
print(list_11!=list_12)
list_11=list_12                                   ######already done
print(list_11 is not list_12)
print(list_11!=list_12)

True
False
False
False

## 34 what is the result

In [31]:
v1=1
v2=0
v1=v1^v2
v2=v1^v2
v1=v1^v2   ### ^ is a XOR operator
print(v1)   ## if both the bits are same result is 0 otherwise 1

0

### Which of the following spans more than 1 line and consider whitespace too

In [32]:
s1='Bharat\n
     Softwere\n
     solutions'

SyntaxError: unterminated string literal (detected at line 1) (937522017.py, line 1)

In [37]:
s1="'Bharat
     Softwere
     solutions'

SyntaxError: unterminated string literal (detected at line 1) (3493684995.py, line 1)

In [38]:
s1="Bharat
     Softwere
     solutions'

SyntaxError: unterminated string literal (detected at line 1) (983128859.py, line 1)

In [39]:
s1='Bharat
     Softwere
     solutions"

SyntaxError: unterminated string literal (detected at line 1) (1249608511.py, line 1)

In [40]:
s1 = '''Bharat
Softwere
solutions'''

In [41]:
s1

'Bharat\nSoftwere\nsolutions'

In [45]:
s2 = 'Bharat\n' \
     'Softwere\n' \
     'solutions'

In [46]:
print(s2)

Bharat
Softwere
solutions

In [47]:
s2

'Bharat\nSoftwere\nsolutions'

## 39 which is the following statement are valid

In [48]:
b=False+5-True+35//4

In [49]:
b

12

In [50]:
s="Sachin Tendulkar is a crecket's great player"

In [51]:
s

"Sachin Tendulkar is a crecket's great player"

In [53]:
print('result:',(7/2)+(False or True)+(9%3))

result: 4.5

In [54]:
result=456+456.0

In [55]:
type(result)  ##not int

float

### 40 We are developing an app in which students will provide college name and city as input.If the 
## student provides college name as BHARATSOFT and city as Pune,then our application has to provide the following greeting message. Welcome to BHARATSOFT in Pune   which coad is use for requiredment

In [56]:
college_name = input("Enter your college name: ")
city = input("Enter your city: ")
if college_name.upper() == "BHARATSOFT" and city.upper() == "PUNE":
    print(f"Welcome to {college_name} in {city}")
else:
    print("Invalid college name or city.")

Enter your college name: BHARATSOFT
Enter your city: PUNE
Welcome to BHARATSOFT in PUNE